<h3><%= question.title %></h3>
<hr/>
<div class="post-container">
  <div class="vote-box">
    <p><img id="question-<%= answer.id %>-up"src="/assets/up-clear.png" height="48" /></p>
    <p class="large-text center"><%= question.score %></p>
    <p><img id="question-<%= answer.id %>-down"src="/assets/down-clear.png" height="48" /></p>
  </div>
  <div class="body-box">
    <%= question.body %>
  </div>
  <span class="clearfix"></span>
  <hr/>
  <div class="post-info">
    <div class="post-tags">
      <% question.tags.each do |tag| %>
        <a href="/questions/tagged/<%= tag %>"><span class="tag"><%= tag %></span></a>
      <% end %>
    </div>
    <div class="post-author">
      Posted <span title="<%= question.created_at %>" data-livestamp="<%= question.created_at %>">at <%= question.created_at %></span>
      by <a href="/users/<%= question.user.id %>"><%= question.user.username %></a> (<%= question.user.reputation %>)
    </div>
  </div>
</div>
