<% content_for :title, "Ask a Question" %>

<h3>Ask a Question</h3>
<% if @question.errors.any? %>
  <div class="text-danger error-messages">
    <p>The following <%= "error".pluralize(@question.errors.count) %> prevented the question from being posted:</p>
    <ul>
      <% @question.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @question, url: { controller: :questions, action: :create } do |f| %>
  <div class="field">
    <%= f.label :title, "Title your question:" %><br/>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.text_area :body, { class: "form-control", rows: 15 } %>
  </div>
  <div class="field">
    <%= f.label :tags, "Tags (space separated - for multiple-word tags use hyphens)" %>
    <%= f.text_field :tags, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.submit "Ask!", class: "btn btn-primary" %>
  </div>
<% end %>

<% if SiteSetting['AskingGuidance'] %>
  <% content_for :sidebar do %>
    <div class="bg-primary padded">
      <h5><strong>Asking Guidance</strong></h5>
      <%= raw(sanitize(QuestionsController.renderer.render(SiteSetting['AskingGuidance']), scrubber: scrubber)) %>
    </div>
  <% end %>
<% end %>
