<% content_for :title, "Ask a Question" %>

<h3>Ask a Question</h3>
<% if @question.errors.any? %>
  <div class="text-danger error-messages">
    <p>The following <%= "error".pluralize(@question.errors.count) %> prevented the question from being posted:</p>
    <ul>
      <% @question.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'posts/image_upload' %>

<%= render 'form' %>

<% if SiteSetting['AskingGuidance'] %>
  <% content_for :sidebar do %>
    <div class="module">
      <h4 class="module__title">Hints and Tips</h4>
      <div class="module__content">
        <%= raw(sanitize(QuestionsController.renderer.render(SiteSetting['AnsweringGuidance']), scrubber: scrubber)) %>
      </div>
    </div>
  <% end %>
<% end %>
