<% content_for :title, "Ask a Meta Question" %>

<h3>Ask a Meta Question</h3>

<div class="alert alert-warning">
  <i class="fas fa-info-circle"></i> You're asking a new question on <strong>Meta</strong>, our area for feedback
  and discussions about this site itself. If you're intending to ask a topical question on the main site, you're in
  the wrong place - you can do that <%= link_to 'here instead', new_question_path %>.
</div>

<% if @question.errors.any? %>
  <div class="text-danger error-messages">
    <p>The following <%= "error".pluralize(@question.errors.count) %> prevented the question from being posted:</p>
    <ul>
      <% @question.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'posts/image_upload' %>

<%= render 'form', is_meta: true %>

<% if SiteSetting['AskingGuidance'] %>
  <% content_for :sidebar do %>
    <div class="module">
      <h4 class="module__title">Hints and Tips</h4>
      <div class="module__content">
        <%= raw(sanitize(QuestionsController.renderer.render(SiteSetting['AskingGuidance']), scrubber: scrubber)) %>
      </div>
    </div>
  <% end %>
<% end %>
