<% content_for :title, @question.title.truncate(50) %>

<%= render 'expanded', :question => @question %>
<span class="clearfix"></span><br/>
<h4><%= pluralize(@question.answers.count, "answer") %></h4>
<hr/>
<% @question.answers.each do |answer| %>
  <%= render 'answers/expanded', :answer => answer %>
<% end %>
<a href="/questions/answer/<%= @question.id %>" class="btn btn-primary">Answer this Question</a>

<% content_for :sidebar do %>
  <div class="bg-warning padded">
    <h5><strong>Question Actions</strong></h5>
    <ul>
      <% if check_your_post_privilege(@question, 'Edit') %>
        <li><a href="/questions/<%= @question.id %>/edit">Edit</a></li>
      <% end %>
    </ul>
  </div>
<% end %>
