<% content_for :title, "Site Settings" %>

<h3>Site Settings</h3>
<p>
  The settings on this page control various aspects of the display or operation of the site. Change these
  rarely and with care. Bear in mind that setting changes will generally not be retroactive - so if you change
  the reputation values, they will only apply going forward - users' reputation will not be recalculated automatically.
</p>

<p>Click on a setting's value to edit it.</p>

<table class="table table-borderless">
  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td>
          <strong><%= setting.name %></strong><br/>
          <span class="text-muted"><%= setting.description %></span>
        </td>
        <td class="js-setting-value" data-type="<%= setting.value_type %>" data-name="<%= setting.name %>"><%= setting.typed %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @settings, renderer: BootstrapPagination::Rails %>
