<h1>Two-factor authentication</h1>
<p>
  Your account has two-factor authentication enabled. Enter a code from your authenticator app here.
</p>

<%= form_tag login_verify_code_path, autocomplete: 'off' do %>
  <%= hidden_field_tag 'uid', params[:uid] %>

  <div class="form-group">
    <%= label_tag 'code', 'Code', class: 'form-element' %>
    <%= number_field_tag 'code', '', class: 'form-element', autocomplete: 'one-time-code' %>
  </div>

  <div class="actions">
    <%= submit_tag 'Verify', class: 'button is-filled' %>
  </div>
<% end %>
