<h1 class="has-font-size-heading">Codidact Content Summary</h2>
<p>
  Covering
  <%= SummaryMailer::TIMEFRAME.ago.strftime '%a %d %b, %H:%M' %>
  to
  <%= DateTime.now.strftime '%a %d %b, %H:%M' %>
</p>

<h2 class="has-font-size-larger">New Posts</h2>
<% if @posts.any? %>
  <% @posts.first(10).each do |p| %>
    <p>
      <strong><%= link_to p.title, generic_share_link(p) %></strong><br/>
      by <%= user_link p.user, { host: p.community.host } %> on <%= p.community.name %>
    </p>
  <% end %>
  <% if @posts.size > 10 %>
    <p>and <%= @posts.size - 10 %> more</p>
  <% end %>
<% else %>
  <p>No new posts in this timeframe.</p>
<% end %>

<h2 class="has-font-size-larger">New Flags</p>
<% if @flags.any? %>
  <% @flags.first(10).each do |f| %>
    <p>
      <strong><%= f.post_flag_type&.name || 'other' %></strong>
      flag: <%= f.reason.present? ? "\"#{f.reason}\"" : '' %>
      <% status_colors = { helpful: 'is-green', declined: 'is-red', pending: 'is-muted' } %>
      <span class="badge is-tag is-small <%= status_colors[(f.status || 'pending').to_sym] %> is-filled">
        <%= f.status || 'pending' %>
      </span><br/>
      by <%= user_link f.user, { host: f.community.host } %>
      on <%= link_to f.post.title, generic_share_link(f.post) %>
      on <%= f.community.name %><br/>
    </p>
  <% end %>
  <% if @flags.size > 10 %>
    <p>and <%= @flags.size - 10 %> more</p>
  <% end %>
<% else %>
  <p>No new flags in this timeframe</p>
<% end %>

<h2 class="has-font-size-larger">New Comments</h2>
<% if @comments.any? %>
  <% @comments.first(10).each do |c| %>
    <blockquote><%= c.content %></blockquote>
    <p class="has-margin-top-0">
      by <%= user_link c.user, { host: c.post.community.host } %>
      on <%= link_to c.post.title, generic_share_link(c.post) %>
      on <%= c.post.community.name %>
    </p>
  <% end %>
  <% if @comments.size > 10 %>
    <p>and <%= @comments.size - 10 %> more</p>
  <% end %>
<% else %>
  <p>No new comments in this timeframe</p>
<% end %>

<h2 class="has-font-size-larger">New Users</h2>
<% if @users.any? %>
  <% @users.first(10).each do |u| %>
    <p>
      <%= user_link u, { host: u.community_users.unscoped.first.community.host } %>
      on <%= u.community_users.unscoped.first.community.name %>
    </p>
  <% end %>
  <% if @users.size > 10 %>
    <p>and <%= @users.size - 10 %> more</p>
  <% end %>
<% else %>
  <p>No new users in this timeframe</p>
<% end %>
