<% content_for :title, "Moderator Dashboard" %>

<% if current_user.is_admin %>
  <%= link_to admin_path, class: "has-font-size-small" do %>
    Switch to Admin Tools
  <% end %>
<% end %>

<h1>Moderator Dashboard</h1>
<p>This page serves as a repository of links to the various tools you have access to as a moderator. While
  you use these, remember that the data in them is usually moderator-only, and should likely not be shared
  with anyone outside of that team unless you've ensured it's safe to share.</p>

<div class="grid">
  <div class="grid--cell is-4-lg is-6-md is-12-sm">
    <div class="widget">
      <div class="widget--body">
        <i class="fa fa-flag"></i>
        <a href="/mod/flags">Flag Queue</a>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-trash"></i>
        <a href="/mod/deleted">Recent Deletions</a>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-file-alt"></i>
        <%= link_to 'Create Help Page', new_post_path(post_type: HelpDoc.post_type_id) %>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-chart-line"></i>
        <%= link_to 'Reports', users_report_path %>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-hand-paper"></i>
        <%= link_to 'Close Reasons', close_reasons_path %>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-info"></i>
        <%= link_to 'Featured Links', pinned_links_path %>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-comments"></i>
        <%= link_to 'Recent Comments', recent_comments_path %>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-comments"></i>
        <%= link_to 'Promoted Posts', promoted_posts_path %>
      </div>
    </div>
  </div>
</div>

<% chat = SiteSetting['ChatLink'] %>
<% if chat.present? %>
<p>As a moderator, you should join our <%= link_to 'community chat server', chat %>. Ping a Codidact team member there and you'll receive access to a special moderator-only lounge, where you can discuss moderation questions with your fellow moderators.</p>
<% end %>