<% with_post_link ||= false %>

<div class="comment <%= comment.deleted ? 'deleted-content' : '' %>" data-id="<%= comment.id %>">
  <div class="comment-meta">
    <div class="comment--info">
      <%= link_to comment.user.rtl_safe_username, user_path(comment.user), dir: 'ltr' %>
      wrote
      <span title="<%= comment.created_at.iso8601 %>"><%= time_ago_in_words(comment.created_at) %> ago:</span>
    </div>
    <div class="comment--links">
      <a href="#">link</a>
      <% if with_post_link %>
        <%= link_to 'post', generic_share_link(comment.post) %>
      <% end %>
      <% if user_signed_in? && (comment.user == current_user || current_user.is_moderator) %>
        <a href="#" class="js-comment-edit">edit</a>
        <% if comment.deleted %>
          <a href="#" class="is-red js-comment-undelete h-fw-bold">undelete</a>
        <% else %>
          <a href="#" class="is-red js-comment-delete">delete</a>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="comment--body" dir="ltr">
    <p><%= raw(sanitize(render_markdown(comment.content), scrubber: CommentScrubber.new)) %></p>
  </div>
</div>