<div class="modal--container new-thread-modal" id="new-thread-modal-<%= post.id %>">
  <div class="modal--header">
    <b>Start a new comment thread</b>
  </div>
  <div class="modal--body">
    <% if post.comment_threads.size > 0 %>
      <p>You can create a new comment thread. Please check first whether an existing comment thread covers already what you need.</p>
    <% else %>
      <p>Be the first to create a new comment thread.</p>
    <% end %>

    <%= form_tag create_comment_thread_path do %>
      <%= hidden_field_tag :post_id, post.id %>

      <%= label_tag :body, 'Your comment', class: 'form-element' %>
      <div class="form-caption">Start the thread with a comment.</div>
      <%= text_area_tag :body, '', class: 'form-element js-comment-field', required: true,
                        data: { post: post.id, thread: '-1', character_count: ".js-character-count-#{post.id}" } %>
      <span class="has-float-right has-font-size-caption js-character-count-<%= post.id %>"
            data-max="500" data-min="15">
        <i class="fas fa-ellipsis-h js-character-count__icon"></i>
        <span class="js-character-count__count">0 / 500</span>
      </span>

      <%= label_tag :title, 'Comment thread title (optional)', class: 'form-element' %>
      <span class="form-caption">
        You can give your comment thread a title. If you leave this blank, the beginning of the initial comment will
        be shown.
      </span>
      <%= text_field_tag :title, '', class: 'form-element', data: { character_count: ".js-character-count-thread-title" } %>

      <span class="has-float-right has-font-size-caption js-character-count-thread-title hide"
            data-max="255" data-min="0" data-display-at="0.75">
        <i class="fas fa-ellipsis-h js-character-count__icon"></i>
        <span class="js-character-count__count">0 / 255</span>
      </span>

      <%= submit_tag 'Create thread', class: 'button is-filled', id: "create_thread_button_#{post.id}", disabled: true %>
    <% end %>
  </div>
</div>
