<%#
    Comment thread view.
    params[:inline] : Whether to display the thread inline with the parent post or as a separate page
    params[:show_deleted_comments] : whether to display deleted comments for those who can see them
%>

<h1>Comments on
  <a href="<%= generic_share_link(@post) %>"><%= @post.title.blank? && @post.parent.present? ? @post.parent.title : @post.title %></a>
</h1>

<% if @post.parent.present? %>
  <details>
    <summary>Parent</summary>
    <%= render 'posts/expanded', post: @post.parent %>
  </details>
<% end %>

<details>
  <summary>Post</summary>
  <%= render 'posts/expanded', post: @post %>
</details>

<!-- THREAD STARTS BELOW -->
<%= render 'comment_threads/expanded' %>
<!-- THREAD ENDS ABOVE -->
