<%#
    Comment thread view.

    Parameters:
      params[:inline]                : whether the parent thread is displayed inline
      params[:show_deleted_comments] : whether to display deleted comments

    Instance variables:
      @comment_thread : CommentThread to display
      @post           : Post the thread belongs to
%>

<h1>Comments on
  <a href="<%= generic_share_link(@post) %>"><%= @post.title.blank? && @post.parent.present? ? @post.parent.title : @post.title %></a>
</h1>

<% if @post.parent.present? %>
  <details>
    <summary>Parent</summary>
    <%= render 'posts/expanded', post: @post.parent %>
  </details>
<% end %>

<details>
  <summary>Post</summary>
  <%= render 'posts/expanded', post: @post %>
</details>

<div class="js-comment-thread-wrapper">
  <%= render 'comment_threads/expanded', inline: params[:inline] == 'true',
                                        show_deleted: params[:show_deleted_comments] == '1',
                                        thread: @comment_thread %>
</div>
