<%#
    Comment thread view.

    Instance variables:
      @post : Post the thread belongs to
%>

<h1>Comments on
  <a href="<%= generic_share_link(@post) %>"><%= @post.title.blank? && @post.parent.present? ? @post.parent.title : @post.title %></a>
</h1>

<% if @post.parent.present? %>
  <details>
    <summary>Parent</summary>
    <%= render 'posts/expanded', post: @post.parent %>
  </details>
<% end %>

<details>
  <summary>Post</summary>
  <%= render 'posts/expanded', post: @post %>
</details>

<!-- THREAD STARTS BELOW -->
<%= render 'comment_threads/expanded' %>
<!-- THREAD ENDS ABOVE -->
