<% allow_delete ||= false %>
<% allow_apply = true if allow_apply.nil? %>

<div class="form-group">
  <div class="form-group-horizontal">
    <div class="form-group">
      <%= label_tag :predefined_filter, 'Predefined Filters', class: "form-element" %>
      <%= select_tag :predefined_filter, options_for_select([params[:predefined_filter]],
                                                            selected: params[:predefined_filter]),
          include_blank: true, class: "form-element js-filter-select", id: nil,
          data: { placeholder: "" } %>
    </div>
    <button type="button" class="filter-clear button is-medium is-danger">Clear</button>
  </div>
  <div class="form-group-horizontal">
    <div class="form-group">
      <%= label_tag :min_score, 'Min Score', class: "form-element" %>
      <%= number_field_tag :min_score, params[:min_score],
          min: 0, max: 1, step: 0.01, class: 'form-element form--filter' %>
    </div>
    <div class="form-group">
      <%= label_tag :max_score, 'Max Score', class: "form-element" %>
      <%= number_field_tag :max_score, params[:max_score],
          min: 0, max: 1, step: 0.01, class: 'form-element form--filter' %>
    </div>
  </div>
  <div class="form-group-horizontal">
    <div class="form-group">
      <%= label_tag :min_answers, 'Min Answers', class: "form-element" %>
      <%= number_field_tag :min_answers, params[:min_answers],
          min: 0, step: 1, class: 'form-element form--filter' %>
    </div>
    <div class="form-group">
      <%= label_tag :max_answers, 'Max Answers', class: "form-element" %>
      <%= number_field_tag :max_answers, params[:max_answers],
          min: 0, step: 1, class: 'form-element form--filter' %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :status, 'Status', class: "form-element" %>
    <%= select_tag :status, options_for_select(['any', 'open', 'closed'], selected: params[:status] || 'any'),
        min: 0, step: 1, class: 'form-element form--filter' %>
  </div>
  <div class="form-group">
    <% if allow_apply %>
      <%= submit_tag 'Apply', class: 'button is-medium is-outlined', name: nil %>
    <% end %>
    <button type="button" class="filter-save button is-medium is-filled">Save</button>
    <% if allow_delete %>
      <button type="button" class="filter-delete button is-medium is-filled is-danger">Delete</button>
    <% end %>
  </div>
</div>
