<% content_for :title, 'Search' %>

<h1>Search</h1>

<%= render 'widget' %>

<div class="widget is-teal">
  <div class="widget--header">
    Advanced Search Options
  </div>
  <div class="widget--body">
    <%= raw(sanitize(render_markdown(SiteSetting['JITAdvancedSearchHelp']), scrubber: scrubber)) %>
    <p>Further help with searching is available <%= link_to 'in the help center', help_path('search') %>.</p>
  </div>
</div>

<% unless @posts.nil? %>
  <% post_count = @posts.count %>
  <div class="has-color-tertiary-500 flex-row jc-sb ai-c" title="<%= post_count %>">
    <div>
     <%= short_number_to_human post_count, precision: 1, significant: false %>
     <%= 'post'.pluralize(post_count) %>
    </div>
    <div class="button-list is-gutterless">
      <%= link_to 'Relevance', query_url(sort: 'relevance'), class: "button is-outlined is-muted #{params[:sort] == 'relevance' || params[:sort].nil? ? 'is-active' : ''}" %>
      <%= link_to 'Score', query_url(sort: 'score'), class: "button is-outlined is-muted #{params[:sort] == 'score' ? 'is-active' : ''}" %>
      <%= link_to 'Age', query_url(sort: 'age'), class: "button is-outlined is-muted #{params[:sort] == 'age' ? 'is-active' : ''}" %>
    </div>
  </div>
  <div class="has-clear-clear">&nbsp;</div>

  <% if @posts.size == 0 %>
    <p class="has-color-tertiary"><em>No results for <strong><%= params[:search] %></strong>. Try using a different search term.</em></p>
  <% end %>

  <div class="item-list has-border-top-width-1 has-border-top-style-solid has-border-color-tertiary-050">
    <% @posts.each do |post| %>
      <% next if post.nil? %>
      <%= render 'posts/type_agnostic', post: post, show_type_tag: true, show_category_tag: true %>
    <% end %>
  </div>
<% end %>

<% unless @posts.nil? %>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
<% end %>
