<h1>Post History</h1>

<% if [Question.post_type_id, Answer.post_type_id].include? @post.post_type_id %>
  <%= render 'posts/list', post: @post %>
<% end %>

<% @history.each do |event| %>
  <details class="history-event">
    <summary>
      <strong><%= event.post_history_type.name.humanize %></strong>
      <span class="text-muted">
        by
        <% if event.user.nil? %>
          <span class="text-muted">(deleted user)</span>
        <% else %>
          <img alt="user avatar" src="<%= avatar_url(event.user) %>" height="16" width="16" />
          <%= link_to event.user&.username, user_path(event.user) %>
        <% end %>
        &middot;
        <%= event.created_at.iso8601 %> (<%= time_ago_in_words(event.created_at) %> ago)
      </span>
    </summary>
    <div class="flex-row jc-sb">
      <% if event.before_state.present? %>
        <div class="raw-markdown before">
          <%= raw(sanitize(event.before_state, scrubber: scrubber).gsub("\n", '<br/>')) %>
        </div>
      <% end %>
      <% if event.after_state.present? %>
        <div class="raw-markdown after">
          <%= raw(sanitize(event.after_state, scrubber: scrubber).gsub("\n", '<br/>')) %>
        </div>
      <% end %>
    </div>
  </details>
<% end %>