<h1>Post History</h1>

<div class="item-list">
  <%= render 'posts/type_agnostic', post: @post, show_category_tag: true, show_type_tag: true, last_activity: false %>
</div>

<% @history.each.with_index do |event, index| %>
  <details class="history-event" id="<%= @history.size - index %>">
    <summary>
      <strong>#<%= @history.size - index %>: <%= event.post_history_type.name.humanize %></strong>
      <span class="has-color-tertiary-600 history-meta">
        <span>
          by
          <% if deleted_user? event.user %>
            (deleted user)
          <% else %>
            <img class="avatar-16" alt="user avatar" src="<%= avatar_url(event.user) %>" height="16" width="16" />
            <%= user_link event.user %>
          <% end %>
          &middot;
          <%= event.created_at.iso8601 %> (<%= time_ago_in_words(event.created_at) %> ago)
        </span>
        <% if event.comment.present? %>
          <br/><em><%= event.comment %></em>
        <% end %>
      </span>
      <%= render 'shared/copy_link', classes: "button is-small is-muted is-outlined",
                                     id: "#{@post.id}-#{@history.size - index}", 
                                     md: post_history_share_link_md(@post, @history, index), 
                                     raw: post_history_share_link(@post, @history, index) 
                                     %>
    </summary>
    <% if event.allowed_to_see_details?(current_user) %>
      <% if event.hidden? %>
        <div class="notice is-warning is-filled">
          <p><i class="fas fa-info-circle"></i> <strong>Hidden revision</strong></p>
          <p>
            This revision is hidden because of a redaction. You have access to the details because
            <% if current_user == event.user %>
              you performed the redaction,
            <% elsif current_user == @post.user %>
              you are the post author,
            <% elsif current_user&.is_admin %>
              you are an administrator,
            <% end %>
            but you should not share this revision with others.
          </p>
        </div>
      <% end %>
      <% if (event.before_title.present? || event.after_title.present?) && event.before_title != event.after_title %>
        <%= render 'diff', before: event.before_title, after: event.after_title, post: @post %>
      <% end %>
      <% if (event.before_state.present? || event.after_state.present?) && event.before_state != event.after_state %>
        <%= render 'diff', before: event.before_state, after: event.after_state, post: @post %>
      <% end %>
      <% if (event.before_tags.present? || event.after_tags.present?) && event.before_tags != event.after_tags %>
        <%= render 'diff', before: event.before_tags, after: event.after_tags, post: @post %>
      <% end %>
    <% elsif [event.before_title, event.after_title,
              event.before_state, event.after_state,
              event.before_tags, event.after_tags].any?(&:present?) %>
      <p>
        <em>The detailed changes of this event are hidden because of a redaction.</em>
      </p>
    <% end %>
  </details>
<% end %>
