<h1>Post History</h1>

<div class="item-list">
  <%= render 'posts/type_agnostic', post: @post, show_category_tag: true, show_type_tag: true, last_activity: false %>
</div>

<% @history.each.with_index do |event, index| %>
  <details class="history-event" id="<%= @history.size - index %>">
    <summary>
      <strong>#<%= @history.size - index %>: <%= event.post_history_type.name.humanize %></strong>
      <span class="has-color-tertiary-600 history-meta">
        <span>
          by
          <% if deleted_user? event.user %>
            (deleted user)
          <% else %>
            <img class="avatar-16" alt="user avatar" src="<%= avatar_url(event.user) %>" height="16" width="16" />
            <%= user_link event.user %>
          <% end %>
          &middot;
          <%= event.created_at.iso8601 %> (<%= time_ago_in_words(event.created_at) %> ago)
        </span>
        <% if event.comment.present? %>
          <br/><em><%= raw(sanitize(render_markdown(event.comment), scrubber: scrubber)) %></em>
        <% end %>
      </span>
      <%= link_to post_history_url(@post, anchor: @history.size - index), class: 'js-permalink' do %>
        <span class="js-text">copy link</span>
      <% end %>
    </summary>
    <% if (event.before_title.present? || event.after_title.present?) && event.before_title != event.after_title %>
      <%= render 'diff', before: event.before_title, after: event.after_title, post: @post %>
    <% end %>
    <% if (event.before_state.present? || event.after_state.present?) && event.before_state != event.after_state %>
      <%= render 'diff', before: event.before_state, after: event.after_state, post: @post %>
    <% end %>
    <% if (event.before_tags.present? || event.after_tags.present?) && event.before_tags != event.after_tags %>
      <%= render 'diff', before: event.before_tags, after: event.after_tags, post: @post %>
    <% end %>
  </details>
<% end %>
