<details>
  <summary class="error-report-summary">
    <span class="details">
      <strong><%= report.klass %></strong><br/>
      <span class="has-font-size-caption has-color-tertiary-600"><%= t('g.at') %> <%= report.request_uri %></span>
    </span>
    <span class="has-float-right has-color-tertiary-600">
      <%= report.created_at.iso8601 %>
    </span>
  </summary>

  <p class="raw-markdown has-font-weight-bold has-color-red-700">
    <%= report.klass %>: <%= report.message %>
  </p>

  <p>
    <strong><%= t('g.community').capitalize %>:</strong>
    <%= report.community&.name || '(nil)' %>
    (<%= report.community_id || 'nil' %>)<br/>

    <strong><%= t('g.user').capitalize %>:</strong>
    <%= report.user&.rtl_safe_username || '(anon)' %>
    (<%= report.user_id || 'nil' %>)<br/>

    <strong>UUID:</strong>
    <span class="raw-markdown"><%= report.uuid %></span>
  </p>

  <pre class="error-trace raw-markdown"><%= report.backtrace.split("\n").select { |l| l.include? Rails.root.to_s }.join("\n") %></pre>
</details>