<h1><%= t 'admin.tools.audit_log' %></h1>

<div>
  <h3>Filters</h3>
  <%= form_tag audit_log_path, method: :get, class: 'form-inline audit-log-filters' do %>
    <div class="form-group-horizontal">
      <div class="form-group">
        <%= label_tag :log_type, 'Log category', class: 'form-element' %>
        <%= select_tag :log_type, options_for_select(@log_types.map { |lt| [lt, lt] }, selected: params[:log_type]),
                       include_blank: true, class: 'form-element js-log-type-select' %>
      </div>
      <div class="form-group">
        <%= label_tag :event_type, 'Event', class: 'form-element' %>
        <%= select_tag :event_type, options_for_select(@event_types.map { |et| [et, et] },
                                                       selected: params[:event_type]),
                       include_blank: true, class: 'form-element js-event-type-select' %>
      </div>
      <div class="form-group">
        <%= label_tag :from, 'From date', class: 'form-element' %>
        <%= date_field_tag :from, params[:from], class: 'form-element' %>
      </div>
      <div class="form-group">
        <%= label_tag :to, 'To date', class: 'form-element' %>
        <%= date_field_tag :to, params[:to], class: 'form-element' %>
      </div>
      <div class="actions">
        <%= submit_tag 'Filter', class: 'button is-filled' %>
      </div>
    </div>
  <% end %>
</div>

<div class="category-meta">
  <h3><%= pluralize(@logs.count, t('g.log')) %></h3>

  <div class="button-list is-gutterless">
    <% classes = 'button is-outlined is-muted' %>
    <%= link_to t('g.age'), request.params.merge(sort: 'age'),
                class: "#{classes} #{params[:sort] == 'age' || params[:sort].nil? ? 'is-active' : ''}" %>
    <%= link_to t('g.type'), request.params.merge(sort: 'type'),
                class: "#{classes} #{params[:sort] == 'type' ? 'is-active' : ''}" %>
    <%= link_to t('g.event'), request.params.merge(sort: 'event'),
                class: "#{classes} #{params[:sort] == 'event' ? 'is-active' : ''}" %>
    <%= link_to t('g.related'), request.params.merge(sort: 'related'),
                class: "#{classes} #{params[:sort] == 'related' ? 'is-active' : ''}" %>
    <%= link_to t('g.user'), request.params.merge(sort: 'user'),
                class: "#{classes} #{params[:sort] == 'user' ? 'is-active' : ''}" %>
  </div>
</div>

<%= render 'log_table' %>

<div class="has-padding-top-4">
  <%= will_paginate @logs, renderer: BootstrapPagination::Rails %>
</div>
