<h1><%= t 'admin.tools.error_reports' %></h1>
<p class="is-lead"><%= pluralize(@reports.count, t('g.error')) %> <%= t 'g.logged' %></p>

<%= form_tag admin_error_reports_path, method: :get, class: 'has-margin-bottom-4' do %>
  <%= label_tag :uuid, t('admin.error_search_uuid') %>
  <%= text_field_tag :uuid, params[:uuid], class: 'form-element', placeholder: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx' %>
  <%= submit_tag t('g.search').capitalize, class: 'button is-filled' %>
<% end %>

<% @reports.each do |report| %>
  <%= render 'error_report', report: report %>
<% end %>

<%= will_paginate @reports, renderer: BootstrapPagination::Rails %>