<h1><%= t 'admin.tools.error_reports' %></h1>
<p class="is-lead"><%= pluralize(@reports.count, t('g.error')) %> <%= t 'g.logged' %></p>

<div class="flex-row">
  <%= form_tag admin_error_reports_path, method: :get, class: 'has-margin-bottom-4 primary' do %>
    <div class="form-group-horizontal">
      <div class="form-group">
        <%= label_tag :uuid, t('admin.error_search_uuid') %>
        <%= text_field_tag :uuid, params[:uuid], class: 'form-element', placeholder: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx' %>
      </div>
      <div class="actions">
        <%= submit_tag t('g.search').capitalize, class: 'button is-filled' %>
      </div>
    </div>
  <% end %>

  <%= form_tag admin_error_reports_path, method: :get, class: 'has-margin-bottom-4 primary' do %>
    <div class="form-group-horizontal">
      <div class="form-group">
        <%= label_tag :uuid, t('admin.error_search_version') %>
        <%= text_field_tag :uuid, params[:uuid], class: 'form-element', placeholder: '(full SHA)' %>
      </div>
      <div class="actions">
        <div class="button-list">
          <button type="submit" class="button is-filled"><%= t('g.search').capitalize %></button>
          <%= link_to 'Current', query_url(version: 'current'), class: 'button is-outlined' %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<% @reports.each do |report| %>
  <%= render 'error_report', report: report %>
<% end %>

<%= will_paginate @reports, renderer: BootstrapPagination::Rails %>