<% content_for :title, t('admin.dashboard.title') %>

<%= link_to moderator_path, class: "has-font-size-small" do %>
  Switch to Mod Tools
<% end %>

<h1><%= t('admin.dashboard.title') %></h1>
<p><%= t('admin.dashboard.blurb') %></p>

<div class="grid">
  <% if current_user.is_global_admin %>
    <div class="grid--cell is-4-lg is-6-md is-12-sm" data-ckb-list-item data-ckb-item-type="link">
      <div class="widget">
        <div class="widget--body">
          <i class="fas fa-globe has-color-red-700"></i> <i class="fas fa-cogs"></i>
          <%= link_to t('admin.tools.g_site_settings'), global_settings_path, 'data-ckb-item-link' => '' %>
        </div>
      </div>
    </div>

    <div class="grid--cell is-4-lg is-6-md is-12-sm" data-ckb-list-item data-ckb-item-type="link">
      <div class="widget">
        <div class="widget--body">
          <i class="fas fa-globe has-color-red-700"></i> <i class="fas fa-tags"></i>
          <%= link_to t('admin.tools.g_tag_sets'), global_tag_sets_path, 'data-ckb-item-link' => '' %>
        </div>
      </div>
    </div>

    <div class="grid--cell is-4-lg is-6-md is-12-sm" data-ckb-list-item data-ckb-item-type="link">
      <div class="widget">
        <div class="widget--body">
          <i class="fas fa-globe has-color-red-700"></i> <i class="fas fa-envelope"></i>
          <%= link_to t('admin.tools.email_moderators'), moderator_email_path, 'data-ckb-item-link' => '' %>
        </div>
      </div>
    </div>

    <div class="grid--cell is-4-lg is-6-md is-12-sm" data-ckb-list-item data-ckb-item-type="link">
      <div class="widget">
        <div class="widget--body">
          <i class="fas fa-globe has-color-red-700"></i> <i class="fas fa-mail-bulk"></i>
          <%= link_to t('admin.tools.post_types'), post_types_path, 'data-ckb-item-link' => '' %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="grid--cell is-4-lg is-6-md is-12-sm" data-ckb-list-item data-ckb-item-type="link">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-cogs"></i>
        <%= link_to t('admin.tools.site_settings'), site_settings_path, 'data-ckb-item-link' => '' %>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm" data-ckb-list-item data-ckb-item-type="link">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-tags"></i>
        <%= link_to t('admin.tools.tag_sets'), tag_sets_path, 'data-ckb-item-link' => '' %>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm" data-ckb-list-item data-ckb-item-type="link">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-sliders-h"></i>
        <%= link_to 'Abilities', admin_privileges_path, 'data-ckb-item-link' => '' %>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm" data-ckb-list-item data-ckb-item-type="link">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-exclamation-triangle"></i>
        <%= link_to t('admin.tools.error_reports'), admin_error_reports_path, 'data-ckb-item-link' => '' %>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm" data-ckb-list-item data-ckb-item-type="link">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-hand-paper"></i>
        <%= link_to t('admin.tools.close_reasons'), close_reasons_path, 'data-ckb-item-link' => '' %>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm" data-ckb-list-item data-ckb-item-type="link">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-balance-scale"></i>
        <%= link_to t('admin.tools.licenses'), licenses_path, 'data-ckb-item-link' => '' %>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm" data-ckb-list-item data-ckb-item-type="link">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-user-secret"></i>
        <%= link_to t('admin.tools.audit_log'), audit_log_path, 'data-ckb-item-link' => '' %>
      </div>
    </div>
  </div>
  <div class="grid--cell is-4-lg is-6-md is-12-sm" data-ckb-list-item data-ckb-item-type="link">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-folder-plus"></i>
        <%= link_to 'Create Category', new_category_path, 'data-ckb-item-link' => '' %>
      </div>
    </div>
  </div>
  <% if current_user.is_global_admin %>
    <div class="grid--cell is-4-lg is-6-md is-12-sm" data-ckb-list-item data-ckb-item-type="link">
      <div class="widget">
        <div class="widget--body">
          <i class="fas fa-user-plus"></i>
          <%= link_to 'New Site', new_site_path, 'data-ckb-item-link' => '' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
