<h1><%= t('admin.tools.privileges') %></h1>
<p><%= t('admin.privileges_blurb') %></p>

<div class="button-list is-gutterless">
  <%= link_to t('g.reputation').capitalize, query_url(sort: 'rep'), class: "button is-outlined is-muted " + (active_search?('threshold') ? "is-active" : "") %>
  <%= link_to t('g.name').capitalize, query_url(sort: 'name'), class: "button is-outlined is-muted " + (active_search?('name') ? "is-active" : "") %>
</div>

<table class="table has-margin-top-4">
  <thead>
    <th><%= t('g.privilege').capitalize %></th>
    <th><%= t('g.threshold').capitalize %></th>
  </thead>
  <tbody>
    <% @privileges.each do |priv| %>
      <tr>
        <td><strong><%= priv.name %></strong></td>
        <td class="js-privilege-threshold" data-name="<%= priv.name %>"><%= priv.threshold %></td>
      </tr>
    <% end %>
  </tbody>
</table>