<h1>Abilities</h1>
<p>Here you can define the thresholds required to gain each available ability. Click on a value to edit it.</p>

<table class="table has-margin-top-4">
  <thead>
    <th>Privilege</th>
    <th>Post Score Threshold</th>
    <th>Edit Score Threshold</th>
    <th>Flag Score Threshold</th>
  </thead>
  <tbody>
    <% @abilities.each do |a| %>
      <tr>
        <td><strong><%= a.name %></strong></td>
        <td class="js-privilege-threshold" data-name="<%= a.internal_id %>" data-type="post"><%= a.post_score_threshold || '-' %></td>
        <td class="js-privilege-threshold" data-name="<%= a.internal_id %>" data-type="edit"><%= a.edit_score_threshold || '-' %></td>
        <td class="js-privilege-threshold" data-name="<%= a.internal_id %>" data-type="flag"><%= a.flag_score_threshold || '-' %></td>
      </tr>
    <% end %>
  </tbody>
</table>