<h1><%= t('ads.advertisements').capitalize %></h1>
<p class="is-lead"><%= t('ads.blurb_index') %></p>
<p><%= t('ads.blurb_types') %></p>

<div class="grid">
    <div class="grid--cell is-12 is-4-lg">
        <div class="widget">
            <div class="widget--header h-ta-center h-fw-bold">
                <%= t('g.codidact_network').capitalize %>
            </div>
            <a href="<%= codidact_ads_url %>"><img src="<%= codidact_ads_url %>" alt="Codidact network ad"></a>
            <div class="widget--body">
                <p><%= t('ads.image_link') %></p>
                <pre><code><%= codidact_ads_url %></code></pre>
                <p><%= t('ads.image_html') %></p>
                <pre><code><%= ('<img src="' + codidact_ads_url + '" alt="Codidact network">') %></code></pre>
            </div>
        </div>
    </div>
    <div class="grid--cell is-12 is-4-lg">
        <div class="widget">
            <div class="widget--header h-ta-center h-fw-bold">
                <%= t('g.community').capitalize %>
            </div>
            <a href="<%= community_ads_url %>"><img src="<%= community_ads_url %>" alt="Community ad"></a>
            <div class="widget--body">
                <p><%= t('ads.image_link') %></p>
                <pre><code><%= community_ads_url %></code></pre>
                <p><%= t('ads.image_html') %></p>
                <pre><code><%= ('<img src="' + community_ads_url + '" alt="' + @community.name + '">') %></code></pre>
            </div>
        </div>
    </div>
    <div class="grid--cell is-12 is-4-lg">
        <div class="widget">
            <div class="widget--header h-ta-center h-fw-bold">
                <%= t('ads.random_posts') %>
            </div>
            <a href="<%= random_question_ads_url %>"><img src="<%= random_question_ads_url %>" alt="Random posts ad"></a>
            <div class="widget--body">
                <p><%= t('ads.image_link') %></p>
                <pre><code><%= random_question_ads_url %></code></pre>
                <p><%= t('ads.image_html') %></p>
                <pre><code><%= ('<img src="' + random_question_ads_url + '" alt="' + @community.name + ' questions">') %></code></pre>
            </div>
        </div>
    </div>
    <div class="grid--cell is-12 is-4-lg">
        <div class="widget">
            <div class="widget--header h-ta-center h-fw-bold">
                <%= t('ads.specific_post') %>
            </div>
            <div class="widget--body">
                <p><%= t('ads.image_link') %></p>
                <pre><code><%= specific_question_ads_url('X') %></code></pre>
                <p><%= t('ads.image_html') %></p>
                <pre><code><%= ('<img src="' + specific_question_ads_url('X') + '" alt="(choose an alt text)">') %></code></pre>
                <p><em><%= t('ads.replace_x.post') %></em></p>
            </div>
        </div>
    </div>
    <div class="grid--cell is-12 is-4-lg">
        <div class="widget">
            <div class="widget--header h-ta-center h-fw-bold">
                <%= t('ads.random_from_cat') %>
            </div>
            <div class="widget--body">
                <p><%= t('ads.image_link') %></p>
                <pre><code><%= specific_category_ads_url('X') %></code></pre>
                <p><%= t('ads.image_html') %></p>
                <pre><code><%= ('<img src="' + specific_category_ads_url('X') + '" alt="(choose an alt text)">') %></code></pre>
                <p><em><%= t('ads.replace_x.category') %></em></p>
            </div>
        </div>
    </div>
</div>