<%#
    Main usercard view.
    Variables:
      user : the User instance to display
    ? ckb  : enable keyboard navigation on this usercard? Default false.
%>

<% ckb ||= false %>

<div class="user-card">
  <div class="user-card--avatar">
    <img alt="user card" src="<%= avatar_url(user, 48) %>" height="48" width="48" class="has-float-left" />
  </div>
  <div class="user-card--content">
    <% data = {} %>
    <% if ckb
         data = {'ckb-item-link': ''}
       end
    %>
    <%= link_to user_path(user), dir: 'ltr', class: 'user-card--link', data: data do %>
      <%= user.rtl_safe_username %>
       <% if user.is_admin && SiteSetting['AdminBadgeCharacter'] %>
        <span class="badge is-user-role" title="Administrator"><%= SiteSetting['AdminBadgeCharacter'] %></span>
       <% elsif user.is_moderator && SiteSetting['ModBadgeCharacter'] %>
        <span class="badge is-user-role" title="Moderator"><%= SiteSetting['ModBadgeCharacter'] %></span>
       <% end %>
       <% if user.staff? %>
        <span class="badge is-tag is-filled is-green staff-badge">staff</span>
       <% end %> 
    <% end %>
    <div class="user-card--meta">
      <% SiteSetting['UserCardDetails'].each_char do |detail| %>
        <% case detail %>
        <% when '.' %>
          <span class="user-card--break"></span>
        <% when 'r' %>
          <span class="user-card--detail">
            <%= user.reputation %> <span>reputation</span>
          </span>
        <% when 'p' %>
          <span class="user-card--detail">
            <i class="fas fa-fw fa-comments" title="number of posts"></i> <%= user.metric 'p' %>
          </span>
        <% when '1' %>
          <span class="user-card--detail">
            <i class="far fa-fw fa-comment-alt" title="number of top-level posts"></i> <%= user.metric '1' %>
          </span>
        <% when '2' %>
          <span class="user-card--detail">
            <i class="fas fa-fw fa-reply-all" title="number of answers"></i> <%= user.metric '2' %>
          </span>
        <% when 's' %>
          <span class="user-card--detail">
            <i class="fas fa-fw fa-star-half-alt" title="sum of received votes (up minus down)"></i> <%= user.metric 's' %>
          </span>
        <% when 'v' %>
          <span class="user-card--detail">
            <i class="fas fa-fw fa-poll" title="total number of votes received"></i> <%= user.metric 'v' %>
          </span>
        <% when 'V' %>
          <span class="user-card--detail">
            <i class="fas fa-fw fa-chevron-up" title="total number of votes cast"></i> <%= user.metric 'V' %>
          </span>
        <% when 'E' %>
          <span class="user-card--detail">
            <i class="fas fa-fw fa-pen" title="number of edits made"></i> <%= user.metric 'E' %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
