<div class="notice is-danger has-color-red-900">
  <% deletion_type = user.deleted? ? 'user' : 'profile' %>
  <p>
    <i class="fas fa-exclamation-triangle"></i>
    <strong>Deleted user</strong>
  </p>
  <p>
    This <%= deletion_type %> is deleted. You have access to this page as a moderator, but this is not public information.
  </p>
  <% deleted_object = user.deleted? ? user : user.community_user %>
  <p class="has-font-size-caption">
    <%= deletion_type.capitalize %> deleted
    <span title="<%= deleted_object.deleted_at %>"><%= time_ago_in_words(deleted_object.deleted_at) %> ago</span>
    by <%= link_to deleted_object.deleted_by.username, user_path(deleted_object.deleted_by) %>.
  </p>
</div>