<div class="user-list--user" data-ckb-list-item data-ckb-item-type="link">
  <div class="flex-row-always">
    <div><img src="<%= avatar_url(user) %>" alt="user avatar" height="32" width="32" /></div>
    <div class="user--meta">
      <% user_posts = defined?(@post_counts) ? @post_counts[user.id] : user.posts.count %>
      <span class="username"><%= link_to  user_path(user), class: "is-not-underlined", 'data-ckb-item-link' => '' do %>
                               <%= user.username %>
                               <% if user.is_admin && SiteSetting['AdminBadgeCharacter'] %>
                                 <span class="badge is-user-role"><%= SiteSetting['AdminBadgeCharacter'] %></span>
                               <% elsif user.is_moderator && SiteSetting['ModBadgeCharacter'] %>
                                 <span class="badge is-user-role"><%= SiteSetting['ModBadgeCharacter'] %></span>
                               <% end %>
                               <% if user.staff? %>
                                 <span class="badge is-tag is-filled is-green staff-badge">staff</span>
                               <% end %>
                             <% end %></span>
      <span class="has-color-tertiary-600 has-font-weight-bold"><%= user.reputation %></span>
      <span><%= pluralize(user_posts, 'post') %></span>
    </div>
  </div>
</div>
