<div class="floating user">
  <p><strong><a href="/users/<%= user.id %>"><%= user.username + (user.is_admin? ? get_setting('AdminBadgeCharacter') : (user.is_moderator? ? get_setting('ModBadgeCharacter') : '')) %></a></strong> (<%= user.reputation %>)</p>
  <p><strong><%= user.questions.count %></strong> <%= "question".pluralize(user.questions.count) %>,
     <strong><%= user.answers.count %></strong> <%= "answer".pluralize(user.answers.count) %></p>
</div>
