<div class="tabs">
  <%= link_to 'Edit Details', edit_user_registration_path, class: 'tabs__tab' %>
  <%= link_to 'Edit Profile', edit_user_profile_path, class: 'tabs__tab tab--active' %>
</div>

<h2>Edit Profile</h2>

<%= form_for current_user, url: update_user_profile_path do |f| %>
  <div class="form-group-horizontal">
    <img alt="user avatar" src="<%= avatar_url(current_user, 64) %>" height="64" width="64" />
    <div class="form-group">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
      <small class="form-text text-muted">An optional profile picture.</small>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control', autocomplete: 'off' %>
    <small class="form-text text-muted">What other people call you.</small>
  </div>

  <div class="form-group">
    <%= f.label :profile_markdown, 'Profile' %>
    <%= f.text_area :profile_markdown, rows: 10, cols: 100, class: 'form-control post-field' %>
    <small class="form-text text-muted">Whatever you want to say about yourself. Supports Markdown.</small>
  </div>

  <div class="form-group-horizontal">
    <div class="form-group">
      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control', autocomplete: 'off' %>
      <small class="form-text text-muted">A link to anywhere on the internet for your stuff.</small>
    </div>

    <div class="form-group">
      <%= f.label :twitter %>
      <%= f.text_field :twitter, class: 'form-control', autocomplete: 'off' %>
      <small class="form-text text-muted">Your Twitter username, if you've got one you want to share.</small>
    </div>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
<% end %>

<% if current_user.se_acct_id.nil? %>
  <h3>Link with Stack Exchange</h3>
  <p>
    If you have an account on Stack Exchange, you can link it to your account here. Once your accounts are linked,
    you'll be able to request that any content you created on Stack Exchange that has been copied across here is
    transferred to you.
  </p>
  <%= link_to 'Authenticate', stack_oauth_url, class: 'btn btn-primary' %>
<% elsif !current_user.transferred_content %>
  <h3>Claim your Stack Exchange content</h3>
  <p>
    Your account has a <a href="https://stackexchange.com/users/<%= current_user.se_acct_id %>">linked Stack Exchange account</a>.
    You can use the button below to have your content from Stack Exchange that has been copied here transferred to you.
  </p>
  <%= link_to 'Claim Content', claim_stack_content_path, method: :post, class: 'btn btn-primary' %>
<% end %>