<% content_for :title, "Moderator Tools: #{rtl_safe_username(@user)}" %>

<%= render 'tabs', user: @user %>

<div class="grid">
  <%= render 'shared/user_mod_sidebar', user: @user %>

  <div class="grid--cell is-9">
    <h1>Global activity log</h1>

    <p class="is-lead">This is a filterable log for all activity by the user <strong>network-wide</strong>. You can consult it for moderation decisions. Do not share this information to people, who do not have access to it, <strong>which generally includes community moderators</strong>, unless relevant to a site they are a mod on</p>

    <% if params[:filter] == 'interesting' %>
        <p>You are looking at <em>negative</em> interactions the user had with this site. These are not necessarily bad, just actions at which you should look more closely. This list includes deleted comments, rejected flags and edit suggestions and negatively received posts.</p>
    <% end %>

    <div class="button-list is-gutterless h-m-v-4">
        <a class="button is-muted is-outlined" href="?">
            Show all events
        </a>
        <% if @interesting > 0 %>
        <a class="button is-muted is-outlined <%= params[:filter] == 'interesting' ? 'is-active' : '' %>" href="?filter=interesting">
            Negative
            <span class="badge is-status"><%= @interesting %></span>
        </a>
        <% end %>
        <a class="button is-muted is-outlined <%= params[:filter] == 'posts' ? 'is-active' : '' %>" href="?filter=posts">
            Posts
            <% if @posts > 0 %><span class="badge is-status"><%= @posts %></span><% end %>
        </a>
        <a class="button is-muted is-outlined <%= params[:filter] == 'comments' ? 'is-active' : '' %>" href="?filter=comments">
            Comments
            <% if @comments > 0 %><span class="badge is-status"><%= @comments %></span><% end %>
        </a>
        <a class="button is-muted is-outlined <%= params[:filter] == 'flags' ? 'is-active' : '' %>" href="?filter=flags">
            Flags
            <% if @flags > 0 %><span class="badge is-status"><%= @flags %></span><% end %>
        </a>
        <a class="button is-muted is-outlined <%= params[:filter] == 'edits' ? 'is-active' : '' %>" href="?filter=edits">
            Edits
            <% if @all_edits > 0 %><span class="badge is-status"><%= @all_edits %></span><% end %>
        </a>
        <a class="button is-muted is-outlined <%= params[:filter] == 'warnings' ? 'is-active' : '' %>" href="?filter=warnings">
            Warnings
            <% if @mod_warnings_received > 0 %><span class="badge is-status"><%= @mod_warnings_received %></span><% end %>
        </a>
    </div>

    <table class="table is-with-hover is-full-width">
        <tr>
            <th>Type</th>
            <th>Community</th>
            <th>On...</th>
            <th>Excerpt</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
        <% @items.each do |i| %>
            <tr class="<%= deleted_item?(i) ? 'deleted-content' : '' %>">
                <% if i.class == Post %>
                    <td>
                        <span class="h-fw-bold">
                            <%= (i.question? ? "Question" : (i.article? ? "Article" : "Answer")) %>
                        </span>
                    </td>
                    <td><%= link_to i.community.name, "//#{i.community.host}" %></td>
                    <td>&mdash;</td>
                    <td class="h-fs-caption">
                        <% if !i.answer? %>
                        <strong><%= i.title %></strong><br>
                        <% else %>
                        <strong>A: <%= i.parent.title %></strong><br>
                        <% end %>
                        <%= i.body_plain[0..300] + ((i.body_plain.length > 300) ? "..." : "") %><br>
                        <%= link_to '(more)', generic_share_link(i)%>
                    </td>
                    <td>&mdash;</td>
                <% elsif i.class == Comment %>
                    <td>
                        Comment
                    </td>
                    <td><%= link_to i.community.name, "//#{i.community.host}" %></td>
                    <td>
                        <% if i.post.nil? %>
                            <%= link_to 'Private', comment_link(i), 'aria-label': 'Location of comment in private thread' %>
                        <% else %>
                            <%= link_to "Post #" + i.post.id.to_s, generic_share_link(i.post)%>
                        <% end %>
                    </td>
                    <td class="h-fs-caption">
                        <%= i.content[0..300] + ((i.content.length > 300) ? "..." : "") %><br>
                        <%= link_to '(more)', comment_link(i), 'aria-label': 'More information about comment' %>
                    </td>
                    <td>&mdash;</td>
                <% elsif i.class == PostHistory %>
                    <td>
                        Edit
                    </td>
                    <td><%= link_to i.community.name, "//#{i.community.host}" %></td>
                    <td>
                        <%= link_to "Post #" + i.post.id.to_s, generic_share_link(i.post)%>
                    </td>
                    <td class="h-fs-caption">
                        <% if i.comment %>
                        <em><%= i.post_history_type.name.gsub("_", " ").capitalize %></em>:<br><%= i.comment %>
                        <% else %>
                        <em><%= i.post_history_type.name.gsub("_", " ").capitalize %></em>
                        <% end %>
                    </td>
                    <td>&mdash;</td>
                <% elsif i.class == SuggestedEdit %>
                    <td>
                        Suggested Edit
                    </td>
                    <td><%= link_to i.community.name, "//#{i.community.host}" %></td>
                    <td>
                        <%= link_to "Post #" + i.post.id.to_s, generic_share_link(i.post)%>
                    </td>
                    <td class="h-fs-caption">
                        <em>Suggested edit</em>:<br><%= i.comment %><br><%= link_to '(more)', suggested_edit_url(i.id) %>
                    </td>
                    <td>
                        <%= (i.pending? ? "pending" : (i.approved? ? "helpful" : "declined")) %>
                    </td>
                <% elsif i.class == ModWarning %>
                    <td>
                        <span class="h-fw-bold h-c-red-700">Warning</span>
                    </td>
                    <% if i.community_user.present? %>
                        <td><%= link_to i.community_user.community.name, "//#{i.community_user.community.host}" %></td>
                    <% else %>
                        <td>Global</td>
                    <% end %>
                    <td>&mdash;</td>
                    <td class="h-fs-caption">
                        <%= i.body[0..300] + ((i.body.length > 300) ? "..." : "") %>
                    </td>
                    <td>&mdash;</td>
                <% elsif i.class == Flag %>
                    <td>
                        Flag
                    </td>
                    <td><%= link_to i.community.name, "//#{i.community.host}" %></td>
                    <td>
                        <% if i.post_type == 'Post' %>
                            <%= link_to "Post #" + i.post.id.to_s, generic_share_link(i.post)%>
                        <% elsif i.post_type == 'Comment' %>
                            <%= link_to "Comment #" + i.post.id.to_s, comment_link(i.post.id)%>
                        <% elsif i.post_type == 'User' %>
                            <%= link_to "User #" + i.post.id.to_s, user_path(i.post)%>
                        <% end %>
                    </td>
                    <td class="h-fs-caption">
                        <%= i.reason[0..300] + ((i.reason.length > 300) ? "..." : "") %><br>
                    </td>
                    <td>
                        <%= i.status || "pending" %>
                    </td>
                <% else %>
                    <td>
                        <span class="badge is-tag is-muted">Unknown</span>
                    </td>
                    <td><%= link_to i.community.name, "//#{i.community.host}" %></td>
                    <td>&mdash;</td>
                    <td><%= i.class %></td>
                    <td>&mdash;</td>
                <% end %>
                <td>
                    <span title="<%= i.created_at.iso8601 %>"><%= time_ago_in_words(i.created_at) %> ago</span>
                </td>
            </tr>
        <% end %>
    </table>

  </div>
</div>