<% content_for :title, "Users" %>

<h3>Users</h3>

<%= form_tag users_path, method: :get, class: 'form-inline' do %>
  <div class="form-group">
    <%= label_tag :search %>
    <%= text_field_tag :search, params[:search], class: 'form-control' %>
    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i><span class="sr-only">Search</span></button>
  </div>
<% end %><br/>

<div class="tabs">
  <%= link_to 'Reputation', query_url(sort: 'reputation'),
      class: "tabs--tab #{params[:sort] == 'reputation' || (params[:sort].nil? && params[:search].nil?) ? 'tab__active' : ''}" %>
  <%= link_to 'Age', query_url(sort: 'age'), class: "tabs--tab #{params[:sort] == 'age' ? 'tab__active' : ''}" %>
</div>

<div class="user-list">
  <% @users.each do |user| %>
    <%= render 'user', user: user %>
  <% end %>
</div>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
