<% content_for :title, "Moderator Tools: #{@user.rtl_safe_username}" %>

<h1>Moderator Tools: <%= link_to @user.rtl_safe_username, user_path(@user), dir: 'ltr'%></h1>

<div class="widget">
  <div class="widget--header">Links</div>
  <div class="widget--body">
    <ul>
      <li><a href="/users/<%= @user.id %>/mod/activity-log">full activity log</a></li>
      <li><a href="/mod/votes/user/<%= @user.id %>">suspicious voting patterns</a></li>
      <li><%= link_to 'annotations on user', user_annotations_path(@user) %></li>
      <li><a href="/users/<%= @user.id %>/mod/privileges">privileges</a></li>
      <li><a href="/warning/log/<%= @user.id %>">warnings and suspensions sent to user</a> <% if @user.community_user.suspended? %>(includes lifting the suspension)<% end %></li>
      <li><a href="/warning/new/<%= @user.id %>">warn or suspend user</a></li>
      <li><%= link_to 'impersonate', start_impersonating_path(@user), class: 'is-yellow' %></li>
    </ul>
  </div>
</div>

<div class="widget is-red">
  <div class="widget--header h-c-red-700"><span class="h-fw-bold">Danger Zone</span></div>
  <div class="widget--body">
    <p><strong>Take care!</strong> Actions in this section may not be reversible, and you will not be asked to confirm
      after initiating an action.</p>
    <div class="delete-actions">
      <%= link_to 'Destroy User', destroy_user_path(@user.id), remote: true,
                  method: :delete, class: 'js-destroy-user button is-danger is-filled' %>
      <%= link_to 'Soft Delete', soft_delete_user_path(@user.id, transfer: SiteSetting['SoftDeleteTransferUser']),
                  remote: true, method: :delete, class: 'js-soft-delete button is-danger is-filled' %>
      <% if current_user.is_global_admin %>
        <%= link_to 'Feed to STAT (180 days)', hellban_user_path(@user), method: :post, class: 'button is-danger is-filled' %>
      <% end %>
    </div>
  </div>
</div>
