<% content_for :title, "Posts by #{rtl_safe_username(@user)}" %>

<% if moderator? && deleted_user?(@user) %>
  <%= render 'deleted', user: @user %>
<% end %>

<h1>Posts by <%= user_link @user %></h1>

<div class="button-list is-gutterless">
  <%= link_to 'Score', query_url(sort: 'score'), class: 'button is-muted is-outlined ' + (active_search?('score') ? 'is-active' : ''),
              role: 'button', 'aria-label': 'Sort by score' %>
  <%= link_to 'Age', query_url(sort: 'age'), class: 'button is-muted is-outlined ' + (active_search?('created_at') ? 'is-active' : ''),
              role: 'button', 'aria-label': 'Sort by age' %>
</div>

<div class="item-list">
  <% @posts.each do |post| %>
    <%= render 'posts/type_agnostic', post: post, show_type_tag: true, show_category_tag: true %>
  <% end %>
</div>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>