<% content_for :title, "#{params[:type].humanize} by #{@user.username}" %>

<h1><%= params[:type].humanize %> by <%= @user.username %></h1>

<div class="tabs">
  <%= link_to 'Score', query_url(sort: 'score'),
              class: "tabs__tab #{params[:sort] == 'score' || params[:sort].nil? ? 'tab--active' : ''}" %>
  <%= link_to 'Age', query_url(sort: 'age'), class: "tabs__tab #{params[:sort] == 'age' ? 'tab--active' : ''}" %>
</div>

<% @posts.each do |post| %>
  <%= render 'posts/list', post: post %>
<% end %>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>