<% content_for :title, "User #{@user.rtl_safe_username}" %>

<h1><span dir="ltr"><%= @user.rtl_safe_username %></span></h1>

<% if @user.community_user.suspended? %>
  <div class="notice is-danger h-m-b-4">
  <% if @user.community_user.suspension_public_comment.nil? %>
    <p>This user has been <strong>temporarily suspended</strong>.
  <% else %>
    <p>This user has been <strong>temporarily suspended</strong> <%= @user.community_user.suspension_public_comment %>.
  <% end %>

    The suspension ends <span title="<%= @user.community_user.suspension_end.iso8601 %>">in <%= time_ago_in_words(@user.community_user.suspension_end) %></span>.</p>
  </div>
<% end %>

<%= render 'tabs', user: @user %>

<div class="grid">
  <div class="grid--cell is-9-lg is-12">
    <div class="h-p-6 h-p-t-2">
      <div class="profile-text">
      <% if @user.website.present? || @user.twitter.present? %>
      <p>
        <% if @user.website.present? %>
          <i class="fas fa-link"></i> <%= link_to @user.website_domain, @user.website, rel: 'nofollow' %>
          &nbsp;&nbsp;&nbsp;&nbsp;
        <% end %>
        <% if @user.twitter.present? %>
          <i class="fab fa-twitter"></i> <%= link_to @user.twitter, "https://twitter.com/#{@user.twitter}" %>
        <% end %>
      </p>
      <% end %>

      <% if @user.profile.nil? || @user.profile.blank? %>
        <p class="is-lead">A quiet enigma. We don't know anything about <span dir="ltr"><%= @user.rtl_safe_username %></span> yet.</p>
      <% else %>
        <%= raw(sanitize(@user.profile, scrubber: scrubber)) %>
      <% end %>
      </div>

      <div class="button-list h-p-2">
        <% if user_signed_in? %>
          <%= link_to new_subscription_path(type: 'user', qualifier: @user.id, return_to: request.path), class: "button is-outlined is-small" do %>
            <i class="fas fa-envelope"></i> Subscribe to user
          <% end %>
        <% end %>
        <% if current_user&.is_moderator %>
          <a href="<%= mod_user_path(@user) %>" class="button is-danger is-outlined is-small" data-drop="#mod-tools-drop"><i class="fas fa-shield-alt"></i> Moderator Tools</a>
          <div class="droppanel" id="mod-tools-drop">
            <div class="droppanel--header">quick actions</div>
            <div class="droppanel--menu">
              <a href="/users/<%= @user.id %>/mod/activity-log">full activity log</a>
              <a href="/mod/votes/user/<%= @user.id %>">suspicious voting patterns</a>
              <a href="/users/<%= @user.id %>/mod/annotations">annotations on user</a>
              <a href="/users/<%= @user.id %>/mod/privileges">privileges</a>
              <a href="/warning/log/<%= @user.id %>">warnings and suspensions sent to user <% if @user.community_user.suspended? %><em>(includes lifting the suspension)</em><% end %></a>
              <a href="/warning/new/<%= @user.id %>">warn or suspend user</a>
            </div>
            <div class="h-m-t-6">
              <a href="<%= mod_user_path(@user) %>" class="button is-filled">Show all tools</a>
            </div>
          </div>
        <% end %>
        <% if current_user&.id == @user.id %>
          <%= link_to qr_login_code_path, class: 'button is-outlined is-small' do %>
            <i class="fas fa-mobile-alt"></i> Mobile Sign In
          <% end %>
        <% end %>
      </div>

      <h2 class="user-profile-heading">Posts</h2>
      <% if @posts.size == 0 %>
        <p><span dir="ltr"><%= @user.rtl_safe_username %></span> hasn't posted anything yet.</p>
      <% else %>
        <div class="item-list user-profile-post-list">
          <% @posts.each do |a| %>
            <%= render 'posts/type_agnostic', post: a, show_type_tag: true, show_category_tag: true %>
          <% end %>
        </div>
        <%= link_to user_posts_path(@user), class: "button is-muted" do %>
          See all &raquo;
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="grid--cell is-3-lg is-12">
    <div class="widget is-tertiary">
      <div class="widget--body user-profile--image">
        <img alt="user avatar" src="<%= avatar_url(@user, 256) %>" class="avatar-256" />
      </div>
      <% if @user.staff? %>
      <div class="widget--body h-ta-center" title="This user is an official Staff member.">
        <i class="fas fa-users-cog"></i> Staff
      </div>
      <% elsif @user.is_moderator || @user.is_admin %>
      <div class="widget--body h-ta-center" title="This user is a moderator of the <%= SiteSetting['SiteName'] %> community.">
        <i class="fas fa-shield-alt"></i> Moderator
      </div>
      <% end %>
    </div>

    <table class="table is-full-width">
      <tr>
      </tr>
      <tr>
        <td colspan="2"><i class="fas fa-award" style="font-size:19px;"></i>&nbsp; Reputation</td>
        <td><%= @user.reputation %></td>
      </tr>
      <tr>
        <td colspan="2"><i class="far fa-fw fa-comment-alt"></i> Number of top-level posts</td>
        <td><%= @user.metric '1' %></td>
      </tr>
      <tr>
        <td colspan="2"><i class="fas fa-fw fa-reply-all"></i> Number of answers</td>
        <td><%= @user.metric '2' %></td>
      </tr>
      <tr>
        <td colspan="2"><i class="fas fa-fw fa-star-half-alt"></i> Sum of received votes (up minus down)</td>
        <td><%= @user.metric 's' %></td>
      </tr>
      <tr>
        <td colspan="2"><i class="fas fa-fw fa-pen"></i> Number of edits made</td>
        <td><%= @user.metric 'E' %></td>
      </tr>
    </table>

    <% unless @abilities.empty? %>
      <h2>Earned Abilities</h2>

      <div class="widget">
        <% @abilities.each do |a| %>
          <div class="widget--body" title="<%= a.summary %>">
            <i class="fa-fw fas fa-<%= a.icon %>"></i>
            <a href="<%= ability_url(a.internal_id, for: @user.id) %>">
              <%= a.name %>
            </a>
          </div>
        <% end %>
        <div class="widget--footer">
          <%= link_to abilities_path, class: 'has-font-weight-bold' do %>
            Abilities &raquo;
          <% end %>
        </div>
      </div>
    <% end %>

    <h2>Statistics</h2>
    <%
      posts_by_post_type = @user.posts.undeleted.group(Arel.sql('posts.post_type_id')).count(Arel.sql('posts.post_type_id'))
    %>
    <table class="table is-full-width">
      <tr>
        <th colspan="3">
          Posts
        </th>
      </tr>
      <tr>
        <td colspan="2">Count</td>
        <td>
          <%= @user.posts.undeleted.count %>
        </td>
      </tr>
      <tr>
        <td colspan="2">Questions</td>
        <td><%= posts_by_post_type[Question.post_type_id] || 0 %></td>
      </tr>
      <tr>
        <td colspan="2">Answers</td>
        <td><%= posts_by_post_type[Answer.post_type_id] || 0 %></td>
      </tr>
      <tr>
        <td colspan="2">Articles</td>
        <td><%= posts_by_post_type[Article.post_type_id] || 0 %></td>
      </tr>
    </table>

    <br>
    <table class="table is-full-width">
      <%
        votes_by_type = @user.votes.group(:vote_type).count(:vote_type)
        votes_by_post_type = @user.votes.joins(:post).group(Arel.sql('posts.post_type_id')).count(Arel.sql('posts.post_type_id'))
      %>
      <tr>
        <th colspan="3">
          Votes cast
        </th>
      </tr>
      <tr>
        <td colspan="2">Count</td>
        <td>
          <%= @user.votes.count %>
        </td>
      </tr>
      <% if @user.id == current_user&.id || current_user&.is_admin %>
      <tr>
        <td class="has-color-tertiary-600">
          <svg width="1em" height="0.67em" viewbox="0 0 100 50">
            <path d="M50,0 L100,50 L0,50 Z" fill="currentColor" />
          </svg>
        </td>
        <td>
          Upvotes
        </td>
        <td><%= votes_by_type[1] || 0 %></td>
      </tr>
      <tr>
        <td class="has-color-tertiary-600">
          <svg width="1em" height="0.67em" viewbox="0 0 100 50">
            <path d="M0,0 L100,0 L50,50 Z" fill="currentColor" />
          </svg>
        </td>
        <td>
          Downvotes
        </td>
        <td><%= votes_by_type[-1] || 0 %></td>
      </tr>
      <tr>
        <td colspan="2">on Question</td>
        <td><%= votes_by_post_type[Question.post_type_id] || 0 %></td>
      </tr>
      <tr>
        <td colspan="2">on Answer</td>
        <td><%= votes_by_post_type[Answer.post_type_id] || 0 %></td>
      </tr>
      <tr>
        <td colspan="2">on Article</td>
        <td><%= votes_by_post_type[Article.post_type_id] || 0 %></td>
      </tr>
      <% end %>
    </table>
    <br>
    <table class="table is-full-width">
      <tr>
        <th colspan="3">
          Flags raised
        </th>
      </tr>
      <tr>
        <td colspan="2">Count</td>
        <td>
          <% if current_user&.id == @user.id || moderator? %>
            <%= link_to @user.flags.count, flag_history_path(@user.id), class: 'is-muted' %>
          <% else %>
            <%= @user.flags.count %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
