<%= render 'tabs', user: @user %>

<% content_for :title, "User #{rtl_safe_username(@user)}" %>

<% if at_least_moderator? && deleted_user?(@user) %>
  <%= render 'deleted', user: @user %>
<% end %>

<h1><span dir="ltr"><%= rtl_safe_username(@user) %></span></h1>

<% if @user.community_user.suspended? %>
  <div class="notice is-danger h-m-b-4">
  <% if @user.community_user.suspension_public_comment.nil? %>
    <p>This user has been <strong>temporarily suspended</strong>.
  <% else %>
    <p>This user has been <strong>temporarily suspended</strong> <%= @user.community_user.suspension_public_comment %>.
  <% end %>

    The suspension ends <span title="<%= @user.community_user.suspension_end.iso8601 %>">in <%= time_ago_in_words(@user.community_user.suspension_end) %></span>.</p>
  </div>
<% end %>

<div class="grid <%= deleted_user?(@user) ? 'deleted-content' : '' %>">
  <div class="grid--cell is-9-lg is-12">
    <div class="h-p-0 h-p-t-0">
      <div class="profile-text">

      <% effective_profile = raw(sanitize(@user.profile&.strip || '', scrubber: scrubber)) %>
      <% if effective_profile.blank? %>
        <p class="is-lead">A quiet enigma. We don't know anything about <span dir="ltr"><%= rtl_safe_username(@user) %></span> yet.</p>
      <% elsif !user_signed_in? && !@user.community_user.privilege?('unrestricted') %>
        <%= sanitize(effective_profile, attributes: %w()) %>
      <% else %>
        <%= effective_profile %>
      <% end %>
      </div>

      <% unless !user_signed_in? && !@user.community_user.privilege?('unrestricted') %>
        <% if @user.valid_websites_for.size.positive? %>
        <div>
          <p><strong>Extra fields</strong></p>
          <table class="table is-with-hover">
            <% @user.valid_websites_for.each do |w| %>
            <tr>
              <td><%= w.label %></td>
              <td>
              <% if w.url[0,4] == 'http' %>
                <%= link_to w.url, w.url, rel: 'nofollow' %>
              <% else %>
              <%= w.url %>
              <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
        <% end %>
      <% end %>
     
      <p>
        <% if @user.discord.present? %>
          <span class="h-m-r-4">
            <i class="fab fa-discord h-m-r-1"></i> <%= @user.discord %>
          </span>
        <% end %>
      </p>

      <div class="button-list h-p-2">
        <% if user_signed_in? %>
          <%= link_to new_subscription_path(type: 'user', qualifier: @user.id, return_to: request.path), class: "button is-outlined is-small" do %>
            <i class="fas fa-envelope"></i> Subscribe to user
          <% end %>
        <% end %>
        <% if current_user&.at_least_moderator? %>
          <a href="<%= mod_user_path(@user) %>" class="button is-danger is-outlined is-small" data-drop="#mod-tools-drop"><i class="fas fa-shield-alt"></i> Moderator Tools <% if @user.community_user.mod_warnings&.size.positive? %> (<%= pluralize(@user.community_user.mod_warnings.count, 'message') %>) <% end %></a> 
          <div class="droppanel" id="mod-tools-drop">
            <div class="droppanel--header">quick actions</div>
            <div class="droppanel--menu">
              <a href="/users/<%= @user.id %>/mod/activity-log">full activity log</a>
              <a href="/users/<%= @user.id %>/mod/annotations">annotations on user</a>
              <a href="/users/<%= @user.id %>/mod/privileges">privileges</a>
              <a href="/warning/log/<%= @user.id %>">warnings and suspensions sent to user
		<% if @user.community_user.suspended? %><em>(includes lifting the suspension)</em>
		<% elsif @user.community_user.mod_warnings&.size.positive? %>
		(latest <%= time_ago_in_words(@user.community_user.latest_warning) %> ago)
		<% end %></a>
              <a href="/warning/new/<%= @user.id %>">warn or suspend user</a>
            </div>
            <div class="h-m-t-6">
              <a href="<%= mod_user_path(@user) %>" class="button is-filled">Show all tools</a>
            </div>
          </div>
        <% end %>
        <% if current_user&.same_as?(@user) %>
          <%= link_to qr_login_code_path, class: 'button is-outlined is-small' do %>
            <i class="fas fa-mobile-alt"></i> Mobile Sign In
          <% end %>
        <% end %>
      </div>

      <div class="user-profile-heading-container">
        <h2 class="user-profile-heading">Posts</h2>
        <% if @posts.size > 0 %>
          <%= link_to user_posts_path(@user), class: "button is-muted", 'aria-label': "View all posts by #{rtl_safe_username(@user)}" do %>
            See all <%= @total_post_count %> &raquo;
          <% end %>
        <% end %>
      </div>
      <% if @posts.size == 0 %>
        <p><span dir="ltr"><%= rtl_safe_username(@user) %></span> hasn't posted anything yet.</p>
      <% else %>
        <div class="item-list user-profile-post-list">
          <% @posts.each do |a| %>
            <%= render 'posts/type_agnostic', post: a, show_type_tag: true, show_category_tag: true %>
          <% end %>
        </div>
        <%= link_to user_posts_path(@user), class: "button is-muted", 'aria-label': "View all posts by #{rtl_safe_username(@user)}" do %>
          See all <%= @total_post_count %> &raquo;
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="grid--cell is-3-lg is-12">
    <div class="widget is-tertiary">
      <div class="widget--body user-profile--image">
        <img alt="user avatar" src="<%= avatar_url(@user, 256) %>" class="avatar-256" />
      </div>
      <% if @user.staff? %>
      <div class="widget--body h-ta-center" title="This user is an official Staff member.">
        <i class="fas fa-users-cog"></i> Staff
      </div>
      <% elsif @user.admin? %>
      <div class="widget--body h-ta-center" title="This user is an administrator of the <%= SiteSetting['SiteName'] %> community.">
        <i class="fas fa-<%= SiteSetting['AdminBadgeCharacter'] %>"></i> Administrator
      </div>
      <% elsif @user.at_least_moderator? %>
      <div class="widget--body h-ta-center" title="This user is a moderator of the <%= SiteSetting['SiteName'] %> community.">
        <i class="fas fa-<%= SiteSetting['ModBadgeCharacter'] %>"></i> Moderator
      </div>
      <% end %>
    </div>

    <table class="table fixed is-full-width">
      <tr>
        <td colspan="2"><i class="fas fa-award" style="font-size:19px;"></i> Reputation</td>
        <td class="overflow-ellipsis" title="<%= @user.reputation %>"><%= @user.reputation %></td>
      </tr>
      <tr>
        <td colspan="2"><i class="far fa-fw fa-comment-alt"></i> Number of top-level posts</td>
        <td class="overflow-ellipsis" title="<%= @user.metric '1' %>"><%= @user.metric '1' %></td>
      </tr>
      <tr>
        <td colspan="2"><i class="fas fa-fw fa-reply-all"></i> Number of answers</td>
        <td class="overflow-ellipsis" title="<%= @user.metric '2' %>"><%= @user.metric '2' %></td>
      </tr>
      <tr>
        <td colspan="2"><i class="fas fa-fw fa-star-half-alt"></i> Sum of received votes (up minus down)</td>
        <td class="overflow-ellipsis" title="<%= @user.metric 's' %>"><%= @user.metric 's' %></td>
      </tr>
      <tr>
        <td colspan="2"><i class="fas fa-fw fa-pen"></i> Number of edits made</td>
        <td class="overflow-ellipsis" title="<%= @user.metric 'E' %>"><%= @user.metric 'E' %></td>
      </tr>
      <% if current_user&.id == @user.id || current_user&.at_least_moderator? %>
        <tr><td colspan="3">User since <%= @user.community_user.created_at %></td></tr>
      <% end %>
    </table>
  
    <% unless @abilities.empty? %>
      <h2>Earned Abilities</h2>

      <div class="widget">
        <% @abilities.each do |a| %>
        <% if @user.privilege?(a.internal_id) %>
          <div class="widget--body" title="<%= a.summary %>">
            <i class="fa-fw fas fa-<%= a.icon %>"></i>
            <a href="<%= ability_url(a.internal_id, for: @user.id) %>">
              <%= a.name %>
            </a>
          </div>
        <% end %>
        <% end %>
        <div class="widget--footer">
          <% if current_user&.id == @user.id %>
           <%= link_to abilities_path, class: 'has-font-weight-bold', 'aria-label': 'View your abilities' do %>
             Abilities &raquo;
           <% end %>
          <% else %>
           <%= link_to abilities_path(for: @user.id), class: 'has-font-weight-bold', 'aria-label': "View abilities of #{rtl_safe_username(@user)}" do %>
             Abilities &raquo;
           <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <h2>Statistics</h2>
    <%
      posts_by_post_type = @user.posts_by_post_type
    %>
    <table class="table fixed is-full-width">
      <tr>
        <th colspan="3">Posts</th>
      </tr>
      <tr>
        <td colspan="2">Count</td>
        <td class="overflow-ellipsis" title="<%= @user.posts.undeleted.count %>">
          <%= @user.posts.undeleted.count %>
        </td>
      </tr>
      <tr>
        <td colspan="2">Questions</td>
        <td class="overflow-ellipsis" title="<%= posts_for(posts_by_post_type, Question) %>">
          <%= posts_for(posts_by_post_type, Question) %>
        </td>
      </tr>
      <tr>
        <td colspan="2">Answers</td>
        <td class="overflow-ellipsis" title="<%= posts_for(posts_by_post_type, Answer) %>">
          <%= posts_for(posts_by_post_type, Answer) %>
        </td>
      </tr>
      <tr>
        <td colspan="2">Articles</td>
        <td class="overflow-ellipsis" title="<%= posts_for(posts_by_post_type, Article) %>">
          <%= posts_for(posts_by_post_type, Article) %>
        </td>
      </tr>
    </table>

    <br>
    <table class="table fixed is-full-width">
      <%
        votes_by_type = @user.votes_by_type
        votes_by_post_type = @user.votes_by_post_type
      %>
      <tr>
        <th colspan="3">Votes cast</th>
      </tr>
      <tr>
        <td colspan="2">Count</td>
        <td class="overflow-ellipsis" title="<%= @user.votes.count %>"><%= @user.votes.count %></td>
      </tr>
      <% if @user.id == current_user&.id || current_user&.admin? %>
      <tr>
        <td colspan="2">
          <div class="flex items-center gap-sm">
            <svg class="has-color-tertiary-600" width="1em" height="0.67em" viewbox="0 0 100 50">
              <path d="M50,0 L100,50 L0,50 Z" fill="currentColor" />
            </svg>Upvotes
          </div>
        </td>
        <td class="overflow-ellipsis" title="<%= votes_by_type[1] || 0 %>"><%= votes_by_type[1] || 0 %></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="flex items-center gap-sm">
            <svg class="has-color-tertiary-600" width="1em" height="0.67em" viewbox="0 0 100 50">
              <path d="M0,0 L100,0 L50,50 Z" fill="currentColor" />
            </svg>Downvotes
          </div>
        </td>
        <td class="overflow-ellipsis" title="<%= votes_by_type[-1] || 0 %>"><%= votes_by_type[-1] || 0 %></td>
      </tr>
      <tr>
        <td colspan="2">on Question</td>
        <td class="overflow-ellipsis" title="<%= votes_for(votes_by_post_type, Question) %>">
          <%= votes_for(votes_by_post_type, Question) %>
        </td>
      </tr>
      <tr>
        <td colspan="2">on Answer</td>
        <td class="overflow-ellipsis" title="<%= votes_for(votes_by_post_type, Answer) %>">
          <%= votes_for(votes_by_post_type, Answer) %>
        </td>
      </tr>
      <tr>
        <td colspan="2">on Article</td>
        <td class="overflow-ellipsis" title="<%= votes_for(votes_by_post_type, Article) %>">
          <%= votes_for(votes_by_post_type, Article) %>
        </td>
      </tr>
      <% end %>
    </table>
    <br>
    <table class="table fixed is-full-width">
      <tr>
        <th colspan="3">Flags raised</th>
      </tr>
      <tr>
        <td colspan="2">Count</td>
        <td class="overflow-ellipsis" title="<%= @user.flags.count %>">
          <% if current_user&.id == @user.id || at_least_moderator? %>
            <%= link_to @user.flags.count, flag_history_path(@user.id), class: 'is-muted',
                        'aria-label': "View flag history for #{@user.flags.count} flags" %>
          <% else %>
            <%= @user.flags.count %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
