<% if @user.nil? %>
  <% content_for :title, "Requires Login" %>

  <h3>This page requires you to log in.</h3>
  <p>Because viewing user profiles is very resource-intensive on the server and database, it has been restricted to
    logged-in users only by the administrator of this site.</p>
  <p><%= link_to "Go to login", new_user_session_path %></p>
<% else %>
  <% content_for :title, "User #{@user.username}" %>

  <h3><%= @user.username %></h3>
  <h4><%= @user.reputation %> reputation</h4>

  <% if user_is_mod %>
    <a href="/users/<%= @user.id %>/mod">Moderator Tools</a>
  <% end %>

  <hr/>

  <h4><%= pluralize(@user.questions.count, 'Question') %></h4>
  <% @user.questions.limit(5).each do |q| %>
    <%= render 'questions/question', :question => q if q && q.id %>
  <% end %>

  <hr/>

  <h4><%= pluralize(@user.answers.count, 'Answer') %></h4>
  <% @user.answers.limit(5).each do |a| %>
    <%= render 'answers/answer', :answer => a if a && a.question && a.question.id %>
  <% end %>

  <hr/>

  <h4>Votes</h4>
  <p><%= @user.username %> has cast <%= pluralize(@user.votes.count, "vote") %></p>
  <ul>
    <li><%= @user.votes.where(:vote_type => 1).count %> up</li>
    <li><%= @user.votes.where(:vote_type => -1).count %> down</li>
    <li><%= @user.votes.where(:post_type => 'Question').count %> question</li>
    <li><%= @user.votes.where(:post_type => 'Answer').count %> answer</li>
  </ul>
<% end %>
