<% content_for :title, "User #{@user.username}" %>

<h3 class="user-show__username">
  <img alt="user avatar" src="<%= avatar_url(@user, 64) %>" height="64" width="64" />
  <span><%= @user.username %> <small>(<%= @user.reputation %>)</small></span>
</h3>
<p>
  <% if @user == current_user %>
    <%= link_to edit_user_registration_path do %>
      <i class="fas fa-edit"></i> Edit Account &middot;
    <% end %>
    <%= link_to edit_user_profile_path do %>
      <i class="fas fa-edit"></i> Edit Profile
    <% end %>
    <% if current_user&.is_moderator %>
      &middot;
    <% end %>
  <% end %>
  <% if current_user&.is_moderator %>
    <%= link_to mod_user_path(@user) do %>
      <i class="fas fa-shield-alt"></i> Moderator Tools
    <% end %>
  <% end %>
</p>

<div class="flex-row">
  <div class="profile-details">
    <p>
      <% if @user.website.present? %>
        <i class="fas fa-link"></i> <%= link_to @user.website_domain, @user.website, rel: 'nofollow' %><br/>
      <% end %>

      <% if @user.twitter.present? %>
        <i class="fab fa-twitter"></i> <%= link_to @user.twitter, "https://twitter.com/#{@user.twitter}" %>
      <% end %>
    </p>
  </div>
  <div class="profile-text">
    <% if @user.profile.nil? || @user.profile.blank? %>
      <em class="text-muted">A quiet enigma. <%= @user.username %> hasn't written anything about themselves yet.</em>
    <% else %>
      <%= raw(sanitize(@user.profile, scrubber: scrubber)) %>
    <% end %>
  </div>
</div>

<hr/>

<h4>Questions</h4>
<% if @user.questions.size == 0 %>
  <em class="text-muted"><%= @user.username %> hasn't asked anything yet.</em>
<% end %>
<% @user.questions.order(score: :desc).first(5).each do |q| %>
  <%= render 'posts/list', post: q %>
<% end %>

<hr/>

<h4>Answers</h4>
<% if @user.answers.size == 0 %>
  <em class="text-muted"><%= @user.username %> hasn't answered anything yet.</em>
<% end %>
<% @user.answers.order(score: :desc).first(5).each do |a| %>
  <%= render 'posts/list', post: a %>
<% end %>

<hr/>

<%
  votes_by_type = @user.votes.group(:vote_type).count(:vote_type)
  votes_by_post_type = @user.votes.joins(:post).group(Arel.sql('posts.post_type_id')).count(Arel.sql('posts.post_type_id'))
%>

<h4>Votes</h4>
<p><%= @user.username %> has cast <%= pluralize(@user.votes.count, "vote") %></p>
<ul>
  <li><%= votes_by_type[1] || 0 %> up</li>
  <li><%= votes_by_type[-1] || 0 %> down</li>
  <li><%= votes_by_post_type[Question.post_type_id] || 0 %> question</li>
  <li><%= votes_by_post_type[Answer.post_type_id] || 0 %> answer</li>
</ul>
