<% content_for :title, "User #{@user.username}" %>

<h3><%= @user.username %></h3>
<h4><%= @user.reputation %> reputation</h4>

<% if user_is_mod %>
  <a href="/users/<%= @user.id %>/mod">Moderator Tools</a>
<% end %>

<hr/>

<h4><%= pluralize(@user.questions.count, 'Question') %></h4>
<% @user.questions.limit(5).each do |q| %>
  <%= render 'questions/question', question: q if q&.id %>
<% end %>

<hr/>

<h4><%= pluralize(@user.answers.count, 'Answer') %></h4>
<% @user.answers.limit(5).each do |a| %>
  <%= render 'answers/answer', answer: a if a&.parent&.id %>
<% end %>

<hr/>

<h4>Votes</h4>
<p><%= @user.username %> has cast <%= pluralize(@user.votes.count, "vote") %></p>
<ul>
  <li><%= @user.votes.where(vote_type: 1).count %> up</li>
  <li><%= @user.votes.where(vote_type: -1).count %> down</li>
  <li><%= @user.votes.joins(:post).where(posts: { post_type_id: Question.post_type_id }).count %> question</li>
  <li><%= @user.votes.joins(:post).where(posts: { post_type_id: Answer.post_type_id }).count %> answer</li>
</ul>
