<% content_for :title, "User #{rtl_safe_username(@user)}" %>

<% if moderator? && deleted_user?(@user) %>
  <%= render 'deleted', user: @user %>
<% end %>

<%= render 'tabs', user: @user %>

<div class="grid <%= deleted_user?(@user) ? 'deleted-content' : '' %>">
  <div class="grid--cell is-9-lg is-12">
    <div class="h-p-6 h-p-l-2 h-p-t-0">

      <h1><span dir="ltr"><%= rtl_safe_username(@user) %></span></h1>

      <% if @user.globally_suspended? %>
        <div class="notice is-danger h-m-b-4">
          <p>This user has been <strong>temporarily suspended network-wide</strong>.
          The suspension ends <span title="<%= @user.global_suspension_end.iso8601 %>">in <%= time_ago_in_words(@user.global_suspension_end) %></span>.</p>
        </div>
      <% elsif @user.community_user.suspended? %>
        <div class="notice is-danger h-m-b-4">
        <% if @user.community_user.suspension_public_comment.nil? %>
          <p>This user has been <strong>temporarily suspended</strong>.
        <% else %>
          <p>This user has been <strong>temporarily suspended</strong> <%= @user.community_user.suspension_public_comment %>.
        <% end %>

          The suspension ends <span title="<%= @user.community_user.suspension_end.iso8601 %>">in <%= time_ago_in_words(@user.community_user.suspension_end) %></span>.</p>
        </div>
      <% end %>

      <div class="profile-text">
      <p>
        <% if @user.website.present? %>
          <span class="h-m-r-4">
            <i class="fas fa-link"></i> <%= link_to @user.website_domain, @user.website, rel: 'nofollow',
                                                    'aria-label': "Visit website of #{rtl_safe_username(@user)} at #{@user.website_domain}" %>
          </span>
        <% end %>
        <% if @user.twitter.present? %>
          <span class="h-m-r-4">
            <i class="fab fa-twitter"></i> <%= link_to @user.twitter, "https://twitter.com/#{@user.twitter}",
                                                       'aria-label': "Visit twitter account of #{rtl_safe_username(@user)}" %>
          </span>
        <% end %>
        <% if @user.discord.present? %>
          <span class="h-m-r-4">
            <i class="fab fa-discord h-m-r-1"></i> <%= @user.discord %>
          </span>
        <% end %>
      </p>

      <% effective_profile = raw(sanitize(@user.profile&.strip || '', scrubber: scrubber)) %>
      <% if effective_profile.blank? %>
        <p class="is-lead">A quiet enigma. We don't know anything about <span dir="ltr"><%= rtl_safe_username(@user) %></span> yet.</p>
      <% else %>
        <%= effective_profile %>
      <% end %>
      </div>

      <div class="button-list h-p-2">
        <% if user_signed_in? %>
          <%= link_to new_subscription_path(type: 'user', qualifier: @user.id, return_to: request.path), class: "button is-outlined is-small" do %>
            <i class="fas fa-envelope"></i> Subscribe to user
          <% end %>
        <% end %>
        <% if current_user&.id == @user.id %>
          <%= link_to qr_login_code_path, class: 'button is-outlined is-small' do %>
            <i class="fas fa-mobile-alt"></i> Mobile Sign In
          <% end %>
        <% end %>
      </div>

      <div class="user-profile-heading-container">
        <h2 class="user-profile-heading">Posts</h2>
        <% if @posts.size > 0 %>
          <%= link_to user_posts_path(@user), class: "button is-muted", 'aria-label': "View all posts by #{rtl_safe_username(@user)}" do %>
            See all <%= @posts.count %> &raquo;
          <% end %>
        <% end %>
      </div>
      <% if @posts.size == 0 %>
        <p><span dir="ltr"><%= rtl_safe_username(@user) %></span> hasn't posted anything yet.</p>
      <% else %>
        <div class="item-list user-profile-post-list">
          <% @posts.each do |a| %>
            <%= render 'posts/type_agnostic', post: a, show_type_tag: true, show_category_tag: true %>
          <% end %>
        </div>
        <%= link_to user_posts_path(@user), class: "button is-muted", 'aria-label': "View all posts by #{rtl_safe_username(@user)}" do %>
          See all <%= @posts.count %> &raquo;
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="grid--cell is-3-lg is-12">
    <div class="widget is-tertiary">
      <div class="widget--body user-profile--image">
        <img alt="user avatar" src="<%= avatar_url(@user, 256) %>" class="avatar-256" />
      </div>
      <% if @user.staff? %>
      <div class="widget--body h-ta-center" title="This user is an official Staff member.">
        <i class="fas fa-users-cog"></i> Staff
      </div>
      <% elsif @user.is_admin %>
      <div class="widget--body h-ta-center" title="This user is an administrator of the <%= SiteSetting['SiteName'] %> community.">
        <i class="fas fa-<%= SiteSetting['AdminBadgeCharacter'] %>"></i> Administrator
      </div>
      <% elsif @user.is_moderator %>
      <div class="widget--body h-ta-center" title="This user is a moderator of the <%= SiteSetting['SiteName'] %> community.">
        <i class="fas fa-<%= SiteSetting['ModBadgeCharacter'] %>"></i> Moderator
      </div>
      <% end %>
    </div>

    <table class="table is-full-width">
      <tr>
      </tr>
      <tr>
        <td colspan="2"><i class="fas fa-award" style="font-size:19px;"></i>&nbsp; Reputation</td>
        <td><%= @user.reputation %></td>
      </tr>
      <tr>
        <td colspan="2"><i class="far fa-fw fa-comment-alt"></i> Number of top-level posts</td>
        <td><%= @user.metric '1' %></td>
      </tr>
      <tr>
        <td colspan="2"><i class="fas fa-fw fa-reply-all"></i> Number of answers</td>
        <td><%= @user.metric '2' %></td>
      </tr>
      <tr>
        <td colspan="2"><i class="fas fa-fw fa-star-half-alt"></i> Sum of received votes (up minus down)</td>
        <td><%= @user.metric 's' %></td>
      </tr>
      <tr>
        <td colspan="2"><i class="fas fa-fw fa-pen"></i> Number of edits made</td>
        <td><%= @user.metric 'E' %></td>
      </tr>
    </table>
    
    <% if current_user&.id == @user.id || current_user&.is_moderator %>
    <table class="table is-full-width">
      <tr>
	<td>User since <%= @user.created_at %></td>
      </tr>
    </table>
    <% end %>

    <% unless @abilities.empty? %>
      <h2>Earned Abilities</h2>

      <div class="widget">
        <% @abilities.each do |a| %>
          <div class="widget--body" title="<%= a.summary %>">
            <i class="fa-fw fas fa-<%= a.icon %>"></i>
            <a href="<%= ability_url(a.internal_id, for: @user.id) %>">
              <%= a.name %>
            </a>
          </div>
        <% end %>
        <div class="widget--footer">
          <% if current_user&.id == @user.id %>
           <%= link_to abilities_path, class: 'has-font-weight-bold', 'aria-label': 'View your abilities' do %>
             Abilities &raquo;
           <% end %>
          <% else %>
           <%= link_to abilities_path(for: @user.id), class: 'has-font-weight-bold', 'aria-label': "View abilities of #{rtl_safe_username(@user)}" do %>
             Abilities &raquo;
           <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <h2>Statistics</h2>
    <%
      posts_by_post_type = @user.posts.undeleted.group(Arel.sql('posts.post_type_id')).count(Arel.sql('posts.post_type_id'))
    %>
    <table class="table is-full-width">
      <tr>
        <th colspan="3">
          Posts
        </th>
      </tr>
      <tr>
        <td colspan="2">Count</td>
        <td>
          <%= @user.posts.undeleted.count %>
        </td>
      </tr>
      <tr>
        <td colspan="2">Questions</td>
        <td><%= posts_by_post_type[Question.post_type_id] || 0 %></td>
      </tr>
      <tr>
        <td colspan="2">Answers</td>
        <td><%= posts_by_post_type[Answer.post_type_id] || 0 %></td>
      </tr>
      <tr>
        <td colspan="2">Articles</td>
        <td><%= posts_by_post_type[Article.post_type_id] || 0 %></td>
      </tr>
    </table>

    <br>
    <table class="table is-full-width">
      <%
        votes_by_type = @user.votes.group(:vote_type).count(:vote_type)
        votes_by_post_type = @user.votes.joins(:post).group(Arel.sql('posts.post_type_id')).count(Arel.sql('posts.post_type_id'))
      %>
      <tr>
        <th colspan="3">
          Votes cast
        </th>
      </tr>
      <tr>
        <td colspan="2">Count</td>
        <td>
          <%= @user.votes.count %>
        </td>
      </tr>
      <% if @user.id == current_user&.id || current_user&.is_admin %>
      <tr>
        <td class="has-color-tertiary-600">
          <svg width="1em" height="0.67em" viewbox="0 0 100 50">
            <path d="M50,0 L100,50 L0,50 Z" fill="currentColor" />
          </svg>
        </td>
        <td>
          Upvotes
        </td>
        <td><%= votes_by_type[1] || 0 %></td>
      </tr>
      <tr>
        <td class="has-color-tertiary-600">
          <svg width="1em" height="0.67em" viewbox="0 0 100 50">
            <path d="M0,0 L100,0 L50,50 Z" fill="currentColor" />
          </svg>
        </td>
        <td>
          Downvotes
        </td>
        <td><%= votes_by_type[-1] || 0 %></td>
      </tr>
      <tr>
        <td colspan="2">on Question</td>
        <td><%= votes_by_post_type[Question.post_type_id] || 0 %></td>
      </tr>
      <tr>
        <td colspan="2">on Answer</td>
        <td><%= votes_by_post_type[Answer.post_type_id] || 0 %></td>
      </tr>
      <tr>
        <td colspan="2">on Article</td>
        <td><%= votes_by_post_type[Article.post_type_id] || 0 %></td>
      </tr>
      <% end %>
    </table>
    <br>
    <table class="table is-full-width">
      <tr>
        <th colspan="3">
          Flags raised
        </th>
      </tr>
      <tr>
        <td colspan="2">Count</td>
        <td>
          <% if current_user&.id == @user.id || moderator? %>
            <%= link_to @user.flags.count, flag_history_path(@user.id), class: 'is-muted',
                        'aria-label': "View flag history for #{@user.flags.count} flags" %>
          <% else %>
            <%= @user.flags.count %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
