<%# 
  Reusable helper view for character count requirements.

  Variables:
    cur : current number of characters (default 0)
    max : maximum number of characters allowed (default 255)
    min : minimum number of characters allowed (default 0)
    threshold : fraction of max to show the count at (default 0.75)
    type : character count type (e.g.: post-title)
%>

<%
  # defaults & normalization
  cur ||= defined?(cur) && !cur.nil? ? cur.to_i : 0
  max ||= defined?(max) && !max.nil? ? max.to_i : 255
  min ||= defined?(min) && !min.nil? ? min.to_i : 0
  threshold ||= defined?(threshold) && !threshold.nil? ? threshold.to_f : 0.75
%>

<span class="has-float-right has-font-size-caption js-character-count-<%= type %> <%= cur.between?(min, max) ? 'hide' : '' %>"
  data-max="<%= max %>"
  data-min="<%= min %>"
  data-threshold="<%= threshold %>">
    <i class="fas fa-ellipsis-h js-character-count__icon"></i>
    <span class="js-character-count__count">
      <%= cur %> / <%= cur < min ? min : max %>
    </span>
</span>