<%#
  Adds a copy link button and drop panel.
  Variables:
    classes : a CSS string representing class names for the trigger button
    desc  : short description of what clicking on the button does
    id    : id of the entity to link to
    md    : Markdown-formatted link to copy
    raw   : raw URL of the link to copy
%>

<%
  # Defaults
  classes = defined?(classes) ? classes : []
%>

<noscript>
<%= link_to raw, 'aria-label': desc, class: classes, role: "button" do %>
  <i class="fa fa-link"></i>
  <span>Copy Link</span>
<% end %>
</noscript>
<%= tag.button 'aria-label': desc,
               class: classes + ["js-permalink-trigger"],
               data: { 
                       drop: "#permalink-#{id}", 
                       drop_force_dir: "down", 
                       drop_self_class_toggle: "is-active" 
                     },
               hidden: true,
               type: "button" do %>
  <i class="fa fa-link"></i>
  <span>Copy Link</span>
<% end %>
<div id="permalink-<%= id %>" class="droppanel has-padding-top-0 has-padding-right-1">
  <label for="permalink-<%= id %>-raw" class="form-element">Raw</label>
  <div class="flex-row-always">
    <input class="form-element" 
           id="permalink-<%= id %>-raw" 
           value="<%= raw %>"
           >
    <button class="button is-icon-only-button js-permalink-copy" 
            data-post-id="<%= id %>" 
            data-link-type="raw" 
            title="Copy raw URL" 
            type="button"
            >
      <i class="fa fa-copy"></i>
    </button>
  </div>
  <label for="permalink-<%= id %>-raw" class="form-element">Markdown</label>
  <div class="flex-row-always">
    <input class="form-element" 
           id="permalink-<%= id %>-md" 
           value="<%= md %>"
           >
    <button class="button is-icon-only-button js-permalink-copy" 
            data-post-id="<%= id %>" 
            data-link-type="md" 
            title="Copy Markdown Link" 
            type="button"
            >
      <i class="fa fa-copy"></i>
    </button>
  </div>
</div>