<div class="post-container">
  <div class="vote-box">
    <p><img id="answer-<%= answer.id %>-up" src="/assets/up-clear.png" height="48" /></p>
    <p class="large-text center"><%= answer.score %></p>
    <p><img id="answer-<%= answer.id %>-down"src="/assets/down-clear.png" height="48" /></p>
  </div>
  <div class="body-box">
    <%= answer.body %>
    <hr/>
    <div class="post-info">
      <div class="post-author">
        Posted <span title="<%= answer.created_at %>" data-livestamp="<%= answer.created_at %>">at <%= answer.created_at %></span>
        by <a href="/users/<%= answer.user.id %>"><%= answer.user.username %></a> (<%= answer.user.reputation %>)
      </div>
    </div>
  </div>
  <span class="clearfix"></span>
  <hr/>
</div>
