<h2>Your Answer</h2>
<% if answer.errors.any? %>
  <div class="notice is-danger">
    <p>The following <%= "error".pluralize(answer.errors.count) %> prevented the answer from being posted:</p>
    <ul>
      <% answer.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'posts/markdown_script' %>
<%= render 'posts/image_upload' %>

<%= form_for answer, url: { controller: :answers, action: :create } do |f| %>
  <%= f.hidden_field :category, value: parent.category %>

  <%= render 'shared/body_field', f: f, field_name: :body_markdown, field_label: 'Body' %>

  <div class="post-preview"></div>
  <div class="field">
    <%= f.submit "Post Answer", class: "button is-filled" %>
  </div>
<% end %>
