<h2>Your Answer</h2>
<% if answer.errors.any? %>
  <div class="notice is-danger">
    <p>The following <%= "error".pluralize(answer.errors.count) %> prevented the answer from being posted:</p>
    <ul>
      <% answer.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'posts/image_upload' %>
<%= render 'questions/markdown_script' %>

<%= form_for answer, url: { controller: :answers, action: :create } do |f| %>
  <%= f.hidden_field :category, value: parent.category %>
  <div class="form-group">
    <%= f.label :body_markdown, 'Body', class: "form-element" %>
    <%= render "posts/mdhint" %>
    <%= f.text_area :body_markdown, { class: "form-element is-large post-field js-post-field", rows: 15 } %>
  </div>
  <div class="post-preview"></div>
  <div class="field">
    <%= f.submit "Post Answer", class: "button is-filled" %>
  </div>
<% end %>
