<% content_for :title, "Edit Answer" %>

<h3>Answer</h3>
<% if @answer.errors.any? %>
  <div class="text-danger error-messages">
    <p>The following <%= "error".pluralize(@answer.errors.count) %> prevented the answer from being updated:</p>
    <ul>
      <% @answer.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @answer, url: { controller: :answers, action: :update } do |f| %>
  <div class="form-group">
    <%= f.label :body_markdown, 'Body' %>
    <%= f.text_area :body_markdown, { class: "form-control post-field", rows: 15 } %>
  </div>
  <div class="form-group">
    <%= f.submit "Update Answer", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Question</h3>
<%= render 'posts/expanded', post: @answer.parent %>

<% content_for :sidebar do %>
  <div class="module">
    <h4 class="module__title">Hints and Tips</h4>
    <div class="module__content">
      <%= raw(sanitize(QuestionsController.renderer.render(SiteSetting['AnsweringGuidance']), scrubber: scrubber)) %>
    </div>
  </div>
<% end %>
