<% content_for :title, "Answer Question \"#{@question.title.truncate(50)}\"" %>

<h3>Your Answer</h3>
<% if @answer.errors.any? %>
  <div class="text-danger error-messages">
    <p>The following <%= "error".pluralize(@answer.errors.count) %> prevented the answer from being posted:</p>
    <ul>
      <% @answer.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @answer, url: { :controller => :answers, :action => :create } do |f| %>
  <div class="field">
    <%= f.text_area :body, { class: "form-control", rows: 15 } %>
  </div>
  <div class="field">
    <%= f.submit "Post Answer", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Question</h3>
<%= render 'questions/expanded', :question => @question, :with_actions => false %>

<% content_for :sidebar do %>
  <div class="bg-primary padded">
    <h5><strong>Hints &amp; Tips</strong></h5>
    <%= raw(get_setting('AnsweringGuidance')) %>
  </div>
<% end %>
