<% content_for :title, "Moderator Flag Queue" %>
<%= link_to moderator_path, class: 'has-font-size-small' do %>
  &laquo; Return to moderator tools
<% end %>

<h1>Moderator Flag Queue</h1>
<p>Below is a list of posts that users have flagged. Users are asked to provide a reason when flagging posts for
  moderator attention; use that to help you determine what needs to be done.</p>

<div class="button-list is-gutterless">
  <%= link_to 'Active', flag_queue_path,
              class: "button is-muted is-outlined #{current_page?(flag_queue_path) ? 'is-active' : ''}" %>
  <%= link_to 'Handled', handled_flags_path, class: 'button is-muted is-outlined' %>
  <% if admin? %>
    <%= link_to 'Escalated', escalated_flags_path,
                class: "button is-muted is-outlined #{current_page?(escalated_flags_path) ? 'is-active' : ''}" %>
  <% end %>
</div>

<% @flags.each do |flag| %>
  <%= render 'flag', flag: flag, escalation: current_page?(escalated_flags_path) %>
<% end %>

<%= will_paginate @flags, renderer: BootstrapPagination::Rails %>

<div class="modal is-with-backdrop js-escalation-modal">
  <div class="modal--container">
    <div class="modal--header">
      <button class="button is-close-button modal--header-button" data-modal=".js-escalation-modal">&times;</button>
      Escalate
    </div>
    <div class="modal--body">
      <p class="has-font-size-caption">
        If you need support, additional tooling, or further review, you can escalate a flag to the admin team.
        You can optionally add additional details to let an admin know why you're escalating this flag.
      </p>

      <%= label_tag :comment %>
      <%= text_field_tag :comment, nil, class: 'form-element js-escalation-comment' %>
    </div>
    <div class="modal--footer">
      <%= button_tag 'Escalate', class: 'button is-filled js-flag-escalate' %>
    </div>
  </div>
</div>
