<% content_for :title, "Moderator Flag Queue" %>
<%= link_to moderator_path, class: 'has-font-size-small' do %>
  &laquo; Return to mod tools
<% end %>

<h1>Moderator Flag Queue</h1>
<p>Below is a list of posts that users have flagged. Users are asked to provide a reason when flagging posts for
  moderator attention; use that to help you determine what needs to be done.</p>

<div class="button-list is-gutterless">
  <%= link_to 'Active', flag_queue_path, class: 'button is-muted is-outlined is-active' %>
  <%= link_to 'Handled', handled_flags_path, class: 'button is-muted is-outlined' %>
</div>

<% @flags.each do |flag| %>
  <div class="widget flag-widget">
    <% if flag.post_type == 'Post' %>
      <div class="item-list">
        <%= render 'posts/type_agnostic', show_type_tag: true, show_category_tag: true, post: flag.post %>
      </div>
    <% elsif flag.post_type == 'Comment' %>
      <%= render 'comments/comment', comment: flag.post, with_post_link: true %>
    <% end %>
    <div class="widget--body">
      <p><strong><%= flag.post_flag_type&.name || 'Flag reason' %></strong>: <%= flag.reason %> &mdash; <a dir="ltr" href="/users/<%= flag.user.id %>"><%= flag.user.rtl_safe_username %></a></p>
    </div>
    <div class="widget--footer flex-row jc-sb">
      <textarea class="form-element flag-resolve-comment has-rows primary" placeholder="Optional comment for flagger" rows="2"></textarea>
      <div class="has-padding-1">
        <a href="#" class="flag-resolve button" data-result='helpful' data-flag-id="<%= flag.id %>">Helpful</a>
        <a href="#" class="flag-resolve button" data-result='declined' data-flag-id="<%= flag.id %>">Decline</a>
      </div>
    </div>
  </div>
<% end %>

<%= will_paginate @flags, renderer: BootstrapPagination::Rails %>
