<% content_for :title, 'Your OAuth Apps' %>

<h1>Your OAuth Apps</h1>

<div class="flex-row jc-sb">
  <%= link_to new_oauth_app_path, class: 'button is-filled', 'aria-label': 'Create new OAuth App' do %>
    <i class="fas fa-plus-circle"></i> Create
  <% end %>

  <% if admin? %>
    <div class="button-list is-gutterless">
      <% classes = 'button is-outlined is-muted' %>
      <%= link_to 'yours', oauth_apps_path(request.query_parameters.except(:admin)),
                  class: "#{classes} #{params[:admin].nil? ? 'is-active' : ''}", 'aria-label': 'View your OAuth Apps' %>
      <%= link_to 'admin', oauth_apps_path(request.query_parameters.merge(admin: true)),
                  class: "#{classes} #{params[:admin].present? ? 'is-active' : ''}", 'aria-label': 'View Admin OAuth Apps' %>
    </div>
  <% end %>
</div>

<%= form_tag oauth_apps_path, method: :get, class: 'has-margin-vertical-2' do %>
  <% if params[:admin].present? %>
    <%= hidden_field_tag :admin, true %>
  <% end %>

  <div class="form-group-horizontal">
    <div class="form-group">
      <%= label_tag :search, 'Search', class: 'form-element' %>
      <%= text_field_tag :search, params[:search], class: 'form-element' %>
    </div>
    <div class="actions has-padding-bottom-1">
      <%= submit_tag 'Search', class: 'button' %>
    </div>
  </div>
<% end %>

<% @apps.each do |app| %>
  <div class="widget has-margin-vertical-1">
    <div class="widget--body">
      <div class="flex-row ai-c">
        <div class="primary">
          <%= link_to app.name, oauth_app_path(app.app_id) %>
        </div>
        <div>
          <div class="has-font-size-caption has-color-tertiary-900 has-text-align-center">
            status
          </div>
          <%= app_active_badge(app) %>
        </div>
        <div>
          <div class="has-font-size-caption has-color-tertiary-900 has-text-align-center">
            age
          </div>
          <div class="has-text-align-center">
            <%= time_ago_in_words(app.created_at, locale: :en_abbrev) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
