<%= render 'posts/markdown_script' %>

<% if @tag.errors.any? %>
  <div class="notice is-danger">
    There were some errors while saving this tag:

    <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @tag, url: submit_path do |f| %>
  <% if submit_path == create_tag_path %>
    <div class="form-group">
      <%= f.label :name, 'Name', class: 'form-element' %>
      <span class="form-caption">
        Name of the tag
      </span>
      <%= f.text_field :name, class: 'form-element' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :tag_synonyms, 'Tag Synonyms', class: 'form-element' %>
    <span class="form-caption">
      Alternative names for this tag
    </span>
    <div id="tag-synonyms-wrapper">
      <% i = -1 %>
      <%= f.fields_for :tag_synonyms do |tsf| %>
        <div class="grid tag-synonym" data-id="<%= i+=1 %>" style="<%= 'display: none;' if tsf.object&.name.blank? %>">
          <div class="grid--cell is-11">
            <%= tsf.text_field :name, class: 'form-element tag-synonym-name', readonly: tsf.object&.name.present?, disabled: tsf.object&.name.blank? %>
          </div>
          <div class="grid--cell is-1">
            <button type="button" class="button is-outlined remove-tag-synonym has-float-right">X</button>
          </div>
          <%= tsf.hidden_field :_destroy, value: tsf.object&.name.blank?, class: 'destroy-tag-synonym' %>
        </div>
      <% end %>
    </div>
  </div>
  <button id="add-tag-synonym" type="button" class="button is-outlined">Add synonym</button>

  <div class="form-group">
    <%= f.label :parent_id, 'Parent tag', class: 'form-element' %>
    <span class="form-caption">
      Optional. Select a parent tag to make this part of a tag hierarchy.
    </span>
    <%= f.select :parent_id, options_for_select(@tag.parent.present? ? [[@tag.parent.name, @tag.parent_id]] : [],
                                                selected: @tag.parent.present? ? @tag.parent_id : nil),
                 { include_blank: true }, class: "form-element js-tag-select",
                 data: { tag_set: @category.tag_set_id, create: false, use_ids: true, placeholder: "None" } %>
  </div>

  <div class="form-group">
    <%= f.label :excerpt, 'Usage guidance', class: 'form-element' %>
    <span class="form-caption">
      Short usage guidance for this tag. Will be cut off at 120 characters in the tags list, but displayed in full on
      the tag page.
    </span>
    <%= f.text_area :excerpt, class: 'form-element js-tag-excerpt', rows: 3, data: { character_count: '.js-character-count-tag-excerpt' } %>
    <%= render 'shared/char_count', type: 'tag-excerpt', cur: @tag.excerpt&.length, min: 0, max: 600 %>
  </div>

  <%= render 'shared/body_field', f: f, cur_length: @tag.wiki_markdown&.length, field_name: :wiki_markdown, field_label: 'Wiki', post: @tag do %>
    Full usage guidance and any other information you want people to know about this tag.
  <% end %>
  <div class="post-preview"></div>

  <%= f.submit 'Save', class: 'button is-filled' %>
<% end %>