<% content_for :title, "Tags for #{@category.name}" %>

<h1>Tags used in <%= @category.name %></h1>

<% if current_user&.is_moderator %>
  <%= link_to 'New', new_tag_path(id: @category.id), class: 'button is-muted is-outlined', 'aria-label': 'Create new tag' %>
<% end %>

<%= form_tag category_tags_path(@category), method: :get, class: 'form-inline' do %>
  <div class="form-group-horizontal">
    <div class="form-group">
      <%= label_tag :q, 'Search', class: 'form-element' %>
      <%= text_field_tag :q, params[:q], class: 'form-element' %>
    </div>
    <div class="actions has-padding-bottom-1">
      <button type="submit" class="button is-filled is-medium"><i class="fas fa-search"></i><span class="sr-only">Search</span></button>
    </div>
  </div>
<% end %>

<% unless params[:q].present? %>
  <div class="category-meta">
    <h3><%= pluralize(@count, 'tag') %></h3>
    <div class="button-list is-gutterless has-margin-2">
      <%= link_to 'Usage', category_tags_path(@category),
                  class: "button is-muted is-outlined #{request.query_parameters.size == 0 ? 'is-active' : ''}",
                  'aria-label': 'Show tag usage for this category' %>
      <%= link_to 'Hierarchy', query_url(hierarchical: '1'),
                  class: "button is-muted is-outlined #{params[:hierarchical].present? ? 'is-active' : ''}",
                  'aria-label': 'Show tag hierarchies' %>
      <%= link_to 'Missing Excerpt', query_url(no_excerpt: '1'),
                  class: "button is-muted is-outlined #{params[:no_excerpt].present? ? 'is-active' : ''}",
                  'aria-label': 'Show tags without excerpts' %>
    </div>
  </div>
<% end %>

<%= render 'list' %>

<% if @tags.size == 0 %>
  <% if params[:q].present? %>
    <p class="has-color-tertiary"><em>No results for <strong><%= params[:q] %></strong></em></p>
  <% else %>
    <p class="has-color-tertiary"><em>There are no tags in <%= @category.name %></em></p>
  <% end %>
<% end %>

<%= will_paginate @tags, renderer: BootstrapPagination::Rails %>
