<% content_for :title, "Child tags of #{@tag.name}" %>

<h1>Child tags of <span class="<%= tag_classes(@tag, @category) %> is-large"><%= @tag.name %></span></h1>

<%= form_tag tag_children_path(id: @category.id, tag_id: @tag.id), method: :get, class: 'form-inline' do %>
  <div class="form-group-horizontal">
    <div class="form-group">
      <%= label_tag :q, 'Search', class: 'form-element' %>
      <%= text_field_tag :q, params[:q], class: 'form-element' %>
    </div>
    <div class="actions has-padding-bottom-1">
      <button type="submit" class="button is-filled is-medium"><i class="fas fa-search"></i><span class="sr-only">Search</span></button>
    </div>
  </div>
<% end %>

<%= render 'list' %>

<%= will_paginate @tags, renderer: BootstrapPagination::Rails %>
