<%= content_for :title, "Welcome to #{SiteSetting['SiteName']}" %>

<%- if request.fullpath != '/' %>
  <div class="notice is-danger">
    <div class="container">
      <p>You need to sign in before you can access this site.</p>
    </div>
  </div>
<% end %>

<%= raw(sanitize(render_markdown(SiteSetting['RestrictedAccessFrontPageText']), scrubber: scrubber)) %>

<%- if sso_sign_in_enabled? %>
  <%= link_to "SSO Sign in", new_saml_user_session_path, class: 'button is-extremely-large is-filled' %><br />
<% end %>

<%- if devise_sign_in_enabled? %>
  <%= link_to "Sign in", new_user_session_path, class: 'button is-extremely-large is-muted is-outlined' %><br />
  <%= link_to "Sign up", new_user_registration_path, class: 'button is-extremely-large is-muted is-filled' %><br />
<% end %>