<%= render 'users/tabs', user: current_user %>

<h1>Your Subscriptions</h1>
<p>
  These are all the email subscriptions you're currently signed up for.
  You can turn them off or remove them entirely from here.
</p>

<% @subscriptions.group_by(&:type).flat_map do |type, subs|
  subs.each_with_index.map do |sub, index|
    [
      sub.created_at,
      [sub.name.present? ? sub.name : "#{type.capitalize} subscription #{index + 1}",sub]
    ] 
  end
end.sort_by { |a| a }.map { |_, v| v }.each do |name, sub| %>
  <details data-sub-id="<%= sub.id %>">
    <summary><%= name %></summary>
    <p>
      Subscription to <%= phrase_for(sub.type) %><%= " '#{sub.qualifier_name}'" if sub.qualifier_name.present? %>,
      emailed every <%= pluralize(sub.frequency, 'day') %>.
    </p>
    <%= check_box_tag :enabled, 1, sub.enabled, class: 'js-enable-subscription' %>
    <%= label_tag :enabled, 'Enabled?' %> &middot;
    <a href="javascript:void(0)" class="js-remove-subscription text-danger">Remove</a>
  </details>
<% end %>
