<h1>New Subscription</h1>
<p>Fine-tune your subscription below, then click Subscribe to confirm it.</p>

<% if @subscription.errors.any? %>
  <%= render 'subscriptions/error', subscription: @subscription %>
<% end %>

<%= form_for @subscription, url: create_subscription_path do |f| %>
  <%= hidden_field_tag 'return_to', params[:return_to] %>

  <div class="form-group">
    <%= f.label :type, class: "form-element" %>
    <div class="form-caption">What is the subscription's type?</div>
    <%= f.select :type,
                 options_for_select(type_choice_for(current_user), selected: @subscription.type),
                 { include_blank: true },
                 class: 'form-element js-sub-type-select' %>
  </div>

  <%= render 'subscriptions/qualifier', form: f, subscription: @subscription %>

  <div class="form-group">
    <%= f.label :name, class: "form-element" %>
    <div class="form-caption">Give your subscription a name that you'll recognise.</div>
    <%= f.text_field :name, class: 'form-element', value: @subscription.name %>
  </div>

  <div class="form-group">
    <%= f.label :frequency, class: "form-element" %>
    <div class="form-caption">How often do you want to be sent these emails?</div>
    <%= f.select :frequency,
                 options_for_select(frequency_choice, selected: @subscription.frequency),
                 { include_blank: true },
                 class: 'form-element js-subscription-frequency-select' %>
  </div>

  <div class="actions">
    <%= f.submit 'Subscribe', class: 'button is-filled' %>
  </div>
<% end %>
