<h2>
  New questions in your filter
  <% if @subscription.name.present? %>
    "<%= @subscription.name %>"
  <% end %>
</h2>

<% @questions.each do |question| %>
  <h3 class="question-title">
    score <%= " +-"[question.score <=> 0] + question.score.to_s %>:
    <%= link_to question.title, post_url(question, host: @subscription.community.host) %>
  </h3>
  <p>
    <%= question.body.first(150).gsub(/<\/?[^>]+>/, '') %>
    <%= question.body.length > 150 ? '...' : '' %>
  </p>
  <p>
    &mdash; <%= link_to question.user.rtl_safe_username, user_url(question.user, host: @subscription.community.host), dir: 'ltr'%>
    <%= time_ago_in_words(question.created_at) %> ago
  </p>
<% end %>

<br/>
<hr/>
<br/>

<small><%= link_to 'Change your email settings or unsubscribe here',
                   subscriptions_url(host: @subscription.community.host) %></small>