<%#
   "Renders post closure modal

    Variables:
      post : Post to render the modal for
"%>

<div class="post--action-dialog js-close-box">
  <div class="widget">
    <div class="widget--header">Why should this post be closed?</div>
    <% CloseReason.active.each_with_index do |reason, idx| %>
      <div class="widget--body">
        <div class="grid">
          <div class="grid--cell">
            <input class="form-radio-element"
                   type="radio"
                   name="close-reason"
                   value="<%= reason.id %>"
                   id="close-reason-<%= reason.id %>"
                   <%= 'checked' if idx.zero? %>
                   data-rop="<%= reason.requires_other_post %>">
          </div>
          <div class="grid--cell is-flexible">
            <label class="form-element" for="close-reason-<%= reason.id %>">
              <%= reason.name %>
              <div class="form-caption">
                <%= raw render_markdown(reason.description.gsub "$SiteName", SiteSetting['SiteName']) %>
              </div>
            </label>
            <% if reason.requires_other_post %>
              <input required
                     class="form-element has-margin-top-8 js-close-other-post"
                     id="close-reason-other-post-<%= reason.id %>"
                     placeholder="Please enter the URL or ID of the other post in this community."
                     name="close-reason-other-post" />
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="widget--footer">
      <button class="js-close-question button is-filled is-muted" data-post-id="<%= post.id %>">
        Close this post
      </button>
    </div>
  </div>
</div>
