<%#
   "Full post view, containing all details and interactions.

    Instance variables:
    ? @category  : Category the post belongs to, if any
    ? @post_type : PostType of the post

    Parameters:
    ? params[:comment_id] : Comment ID to show even if it would be hidden otherwise
    ? params[:thread_id]  : CommentThread ID to render expanded view for
    ? params[:sort]       : sorting type for the post's children

    Variables:
      post         : the Post instance to display
    ? float_notice : whether to display the float notice
"%>

<% float_notice ||= false %>
<% category ||= defined?(@category) && @category.id == post.category_id ? @category : post.category %>
<% post_type ||= defined?(@post_type) && @post_type.id == post.post_type_id ? @post_type : post.post_type %>

<% is_question = post.post_type_id == Question.post_type_id %>
<% is_top_level = post.parent_id.nil? %>

<div class="post <%= is_top_level ? '' : 'has-border-bottom-style-solid has-border-bottom-width-1 has-border-color-tertiary-100' %>"
     id="<%= (is_question ? 'question-' : 'answer-') + post.id.to_s %>"
     data-post-id="<%= post.id %>"
     data-ckb-list-item data-ckb-item-type="post"
     data-ckb-post-id="<%= post.id %>">
  <% if is_top_level %>
    <h1 class="post--title has-margin-top-0 has-padding-2">
      <% title = post.title +
                 (post.closed && !post.duplicate_post ? " [closed]" : "") +
                 (post.duplicate_post ? " [duplicate]" : "") %>
      <a href="<%= generic_share_link(post) %>" class="post--title-text"><%= title %></a>
      <% post_types = category&.display_post_types || [] %>
      <% if post_types.reject(&:blank?).size > 1 %>
        <%= post_type_badge(post_type) %>
      <% end %>
    </h1>
  <% end %>

  <% if float_notice %>
    <% sort_type = params[:sort] == 'active' ? 'activity' : 'score' %>
    <div class="notice is-info has-font-size-caption">
      <p>
        You are accessing this answer with a direct link, so it's being shown above all other answers regardless of its <%= sort_type %>.
        You can <strong><%= link_to 'return to the normal view', generic_share_link(post.parent, sort: params[:sort]), class: 'is-teal' %></strong>.
      </p>
    </div>
  <% end %>

  <div class="post--container <%= 'deleted-content' if post.deleted? %> grid is-nowrap">
    <% if post_type.has_votes || (user_signed_in? && post.post_type.has_reactions && post.post_type.reactions.any?) %>
      <%= render 'posts/votes', post: post %>
    <% end %>

    <div class="post--content has-padding-2">
      <% if post.reactions.any? %>
        <%= render('reactions/list', post: post) %>
      <% end %>

      <% if post.closed? %>
        <%= render('posts/notices/closed', post: post, user: current_user) %>
      <% end %>

      <% if post.deleted? %>
        <%= render('posts/notices/deleted', post: post) %>
      <% end %>

      <% if post.locked? %>
        <%= render('posts/notices/locked', post: post) %>
      <% end %>

      <% if post.spam_flag_pending? && user_signed_in? %>
        <%= render('posts/notices/flagged', post: post, user: current_user) %>
      <% end %>

      <% if post.pending_suggested_edit? && user_signed_in? %>
        <%= render('posts/notices/suggested_edit', post: post, user: current_user) %>
      <% end %>

      <div class="post--body">
        <% effective_post = raw(sanitize(post.body, scrubber: scrubber)) %>
        <% if post.spam_flag_pending? && !user_signed_in? %>
          <%= sanitize(effective_post, attributes: %w()) %>
        <% else %>
          <%= effective_post %>
        <% end %>

        <% if post_type.has_tags %>
          <div class="post--tags has-padding-2">
            <% required_ids = post.category&.required_tag_ids %>
            <% moderator_ids = post.category&.moderator_tag_ids %>
            <% topic_ids = post.category&.topic_tag_ids %>
            <% category_sort_tags(post.tags, required_ids, topic_ids, moderator_ids).each do |tag| %>
              <% required = required_ids&.include?(tag.id) ? 'is-filled' : '' %>
              <% topic = topic_ids&.include?(tag.id) ? 'is-outlined' : '' %>
              <% moderator = moderator_ids.include?(tag.id) ? 'is-red is-outlined' : '' %>
              <%= link_to tag.name, tag_path(id: post.category_id, tag_id: tag.id),
                           class: "badge is-tag #{required} #{topic} #{moderator}",
                           title: tag.excerpt.present? ? tag.excerpt : "(no description yet)" %>
            <% end %>
          </div>
        <% end %>

        <%= render 'posts/meta', post: post %>

        <div class="post--actions">
          <div class="tools">
            <%= render "shared/copy_link", classes: ["tools--item"],
                                           desc: "Copy a permanent link to this post",
                                           id: post.id,
                                           md: generic_share_link_md(post),
                                           raw: generic_share_link(post) %>
            <%= link_to post_history_path(post), class: 'tools--item', 'aria-label': 'View history of this post' do %>
              <i class="fa fa-history"></i>
              History
            <% end %>
            <% if (post_type.is_public_editable && !post.locked?) || current_user&.at_least_moderator? || post.user == current_user %>
              <% if current_user&.can_update?(post, post_type) %>
                <% if post.pending_suggested_edit? %>
                  <%= render 'posts/review_edit_link', post: post %>
                <% else %>
                  <%= render 'posts/edit_link', post: post %>
                <% end %>
              <% elsif current_user.present? %>
                <% if post.pending_suggested_edit? %>
                  <%= link_to 'suggested edit pending...',
                                   suggested_edit_url(post.pending_suggested_edit.id),
                                   class: "tools--item" %>
                <% elsif post_type.is_freely_editable %>
                  <%= render 'posts/edit_link', post: post %>
                <% else %>
                  <%= link_to edit_post_path(post), class: 'tools--item', 'aria-label': 'Suggest edit to this post' do %>
                    <i class="fa fa-pencil-alt"></i>
                    Suggest edit
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <% if user_signed_in? %>
              <a href="#" class="flag-dialog-link tools--item" role="button" aria-label="Flag this post">
                <i class="fa fa-flag"></i>
                Flag
              </a>
            <% end %>
            <% if current_user&.can_close?(post) %>
              <% if !post.closed %>
                <a href="#"
                   class="close-dialog-link tools--item"
                   role="button"
                   aria-label="Close this post">
                  <i class="fa fa-lock"></i>
                  Close
                </a>
              <% else %>
                <%= link_to reopen_post_path(post), method: :post,
                                                    class: 'reopen-question tools--item',
                                                    role: 'button', 'aria-label': 'Reopen this post' do %>
                  <i class="fa fa-unlock"></i>
                  Reopen
                <% end %>
              <% end %>
            <% end %>
            <% if check_your_post_privilege(post, 'flag_curate') %>
              <% unless post.locked? %>
                <% if !post.deleted %>
                  <%= link_to delete_post_path(post), method: :post,
                              data: { confirm: 'Are you sure you want to delete this post?' },
                              class: "tools--item is-danger",
                              role: 'button', 'aria-label': 'Delete this post' do %>
                    <i class="fa fa-trash"></i>
                    Delete
                  <% end %>
                <% else %>
                  <%= link_to restore_post_path(post), method: :post,
                              data: { confirm: 'Restore this post, making it visible to regular users?' },
                              class: "tools--item is-danger is-filled",
                              role: 'button', 'aria-label': 'Restore this post' do %>
                    <i class="fa fa-undo"></i>
                    Restore
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <% if current_user&.can_handle_flags? %>
              <a href="javascript:void(0)"
                 data-modal="#mod-tools-<%= post.id %>"
                 class="tools--item"
                 role="button"
                 aria-label="Open Moderator Tools">
                <i class="fa fa-wrench"></i>
                Tools
              </a>
              <% flags_count = Flag.accessible_to(current_user, post).unhandled.count %>

              <% own_flags_count = if current_user&.at_least_moderator?
                                     0
                                   else
                                     post.flags.not_confidential.where(user: current_user).unhandled.count
                                   end %>

              <% if flags_count > 0 %>
                <a href="#" class="show-all-flags-dialog-link tools--item" role="button">
                  <i class="fa fa-exclamation-triangle"></i>
                  Show <%= pluralize(flags_count - own_flags_count, 'flag') %>
                </a>
              <% end %>
            <% end %>
          </div>
        </div>

        <% if user_signed_in? %>
          <%= render 'posts/flag_modal', post: post, user: current_user %>
        <% end %>

        <% if current_user&.can_close?(post) %>
          <%= render 'posts/close_modal', post: post %>
        <% end %>

        <% if current_user&.can_handle_flags? %>
          <%= render 'posts/flags_modal', post: post, user: current_user %>
        <% end %>

        <% if is_top_level && post.children.undeleted.length >= SiteSetting["TableOfContentsThreshold"] && SiteSetting["TableOfContentsThreshold"] != -1 %>
          <div class="toc has-margin-left-4" id="toc-toggle">
            <button class="toc--header"
                    data-toggle="#toc-toggle"
                    data-toggle-property="class"
                    data-toggle-value="is-active">Table of Contents</button>
            <% sorted_answers = post.children.sort_by { |answer| answer.score }.reverse! %>
            <% sorted_answers.each do |answer| %>
              <% next if answer.deleted? && !at_least_moderator? %>
              <%= render 'posts/toc_entry', answer: answer %>
            <% end %>
          </div>
        <% end %>

        <div class="post--status">
          <% if post.att_source.present? %>
            <div class="notice has-margin-2">
              <p>
                This post was sourced from <%= link_to post.att_source, post.att_source %>.
                <% if post.att_license_name.present? %>
                  It is licensed under <%= link_to post.att_license_name, post.att_license_link %>.
                <% end %>
              </p>
            </div>
          <% end %>
        </div>
        <div class="post--comments has-padding-4">
          <% comment_threads = post.comment_threads.initially_visible.order(updated_at: :desc) %>
          <% public_count = comment_threads.count %>
          <% available_count = current_user&.post_privilege?('flag_curate', post) ?
                                 post.comment_threads.count : post.comment_threads.publicly_available.count %>
          <div class="post--comments-header">
            <h4 class="has-margin-0">
              <%= pluralize(public_count, 'comment thread') %>
            </h4>
            <% if user_signed_in? %>
              <%= render 'posts/follow_comments_link', post: post, user: current_user %>
            <% end %>
          </div>
          <div class="post--comments-container" role="list">
            <%= render 'comments/threads_list', comment_threads: comment_threads.first(5),
                                                comment_id: params[:comment_id],
                                                thread_id: params[:thread_id] %>
          </div>
          <div class="post--comments-links has-margin-top-1">
            <% if available_count > [comment_threads.count, 5].min %>
              <a href="#" class="js-more-comments button is-muted is-small"
                          data-post-id="<%= post.id %>"
                          role="button"
                          aria-label="Show more comment threads">
                Show more
              </a>
            <% end %>
            <% if user_signed_in? %>
              <%= render 'comments/new_thread', post: post, user: current_user %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if at_least_moderator? || current_user&.post_privilege?('flag_curate', post) %>
  <%= render 'posts/post_tools', post: post %>
<% end %>

<% if post.post_type.has_reactions && !post.locked? && user_signed_in? %>
  <%= render 'reactions/dialog', post: post %>
<% end %>
