<% is_question = post.post_type_id == Question.post_type_id %>

<div class="post <%= post.is_meta ? 'post__meta' : '' %>" data-post-id="<%= post.id %>" id="<%= (is_question ? 'question-' : 'answer-') + post.id.to_s %>">
  <% if is_question %>
    <h2 class="post--title">
      <% if post.is_meta %>
        <strong>META</strong> &mdash;
      <% end %>
      <%= post.title %>
    </h2>
  <% end %>

  <div class="post--container <%= 'deleted-content' if post.deleted? %>">
    <div class="post--votes">
      <% existing_vote = my_vote(post) %>
      <% if existing_vote&.vote_type == 1 %>
        <img class="vote-button voted" data-vote-type="1" data-vote-id="<%= existing_vote.id %>"
             id="post-<%= post.id %>-up" src="/assets/up-fill.png" height="48" />
      <% else %>
        <img class="vote-button" data-vote-type="1" id="post-<%= post.id %>-up" src="/assets/up-clear.png" height="48" />
      <% end %>
      <% votes = post.votes.group(:vote_type).count(:vote_type) %>
      <span class="score" title="+<%= votes[1] || 0 %>/-<%= votes[-1] || 0 %>"><%= post.score %></span>
      <% if existing_vote&.vote_type == -1 %>
        <img class="vote-button voted" data-vote-type="-1" data-vote-id="<%= existing_vote.id %>"
             id="post-<%= post.id %>-down" src="/assets/down-fill.png" height="48" />
      <% else %>
        <img class="vote-button" data-vote-type="-1" id="post-<%= post.id %>-down" src="/assets/down-clear.png" height="48" />
      <% end %>
    </div>

    <div class="post--body">
      <div class="post--text"><%= raw(sanitize(post.body, scrubber: scrubber)) %></div>

      <div class="post--meta">
        <% if is_question %>
          <div class="post--tags">
            <% post.tags_cache.each do |tag| %>
              <% next if tag.nil? || tag.empty? %>
              <%= link_to tag, questions_tagged_path(tag), class: 'tag' %>
            <% end %>
          </div>
        <% end %>
        <span class="post--author text-muted">
          <span title="<%= post.created_at.iso8601 %>"><%= time_ago_in_words(post.created_at) %> ago</span> &middot;
          by
          <img alt="user avatar" src="<%= avatar_url(post.user, 32) %>" height="32" width="32" />
          <%= link_to post.user.username, user_path(post.user) %> (<%= post.user.reputation %>)
        </span>
      </div>

      <div class="post--actions">
        <%= link_to 'history', post_history_path(post) %> /
        <%= link_to 'edit', is_question ? edit_question_path(post) : edit_answer_path(post) %> /
        <%= link_to 'permalink', is_question ? share_question_path(post) : share_answer_path(qid: post.parent_id, id: post.id) %> /
        <% if is_question && !post.closed %>
          <%= link_to 'close', close_question_path(post), method: :post, class: 'close-question' %> /
        <% elsif is_question && post.closed %>
          <%= link_to 'reopen', reopen_question_path(post), method: :post, class: 'reopen-question' %> /
        <% end %>
        <% if !post.deleted %>
          <%= link_to 'delete', url_for(controller: is_question ? :questions : :answers, action: :destroy, id: post.id),
                      method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: "text-danger" %>
        <% else %>
          <%= link_to 'undelete', url_for(controller: is_question ? :questions : :answers, action: :undelete, id: post.id),
                      method: :post, data: { confirm: 'Undelete this question, making it visible to regular users?' }, class: "text-danger" %>
        <% end %> /
        <a href="#" class="flag-link" data-post-type="<%= is_question ? 'Question' : 'Answer' %>" data-post-id="<%= post.id %>">flag</a>
      </div>

      <% if post.att_source.present? %>
        <div class="post--notice">
          <div class="notice--content">
            <p>
              <i class="fas fa-balance-scale"></i> This post was sourced from <%= link_to post.att_source, post.att_source %>.
              <% if post.att_license_name.present? %>
                It is licensed under <%= link_to post.att_license_name, post.att_license_link %>.
              <% end %>
            </p>
          </div>
        </div>
      <% end %>

      <% if is_question && post.closed %>
        <div class="post--notice">
          <h4 class="notice--title">Closed Question</h4>
          <div class="notice--content">
            <p>
              This question was closed on <%= post.closed_at.strftime('%b %e, %Y at %H:%M') %>
              by <%= link_to post.closed_by.username, user_path(post.closed_by) %>.
              New answers can no longer be added.
            </p>

            <p>Users with the reopen privilege may vote to reopen this question if it has been closed incorrectly.</p>
          </div>
        </div>
      <% end %>

      <% if post.deleted %>
        <div class="post--notice">
          <h4 class="notice--title">Deleted</h4>
          <div class="notice--content">
            <p>
              This post was deleted on <%= post.deleted_at.strftime('%b %e, %Y at %H:%M') %>
              by <%= link_to post.deleted_by.username, user_path(post.deleted_by) %>.
            </p>

            <p>Users with the undelete privilege may vote to undelete this post if it has been deleted incorrectly.</p>
          </div>
        </div>
      <% end %>
      <div class="post--comments">
        <h4><%= pluralize(post.comments.undeleted.size, 'comment') %></h4>
        <div class="post--comments-container">
          <% comments = moderator? ? post.comments : post.comments.undeleted %>
          <% comments.first(5).each do |comment| %>
            <%= render 'comments/comment', comment: comment %>
          <% end %>
        </div>

        <div class="post--comments-links">
          <% if comments.count > 5 %>
            <a href="#" class="js-more-comments" data-post-id="<%= post.id %>">Show more comments</a>
            <% if user_signed_in? %>
              &middot;
            <% end %>
          <% end %>
          <% if user_signed_in? %>
            <a href="#" class="js-add-comment">Add a comment</a>

            <%= form_for Comment.new, url: create_comment_path, remote: true, html: { class: 'comment-form js-comment-form' } do |f| %>
              <%= f.hidden_field :post_id, value: post.id %>

              <div class="form-group-horizontal">
                <div class="form-group">
                  <%= f.label :content, 'Your comment' %>
                  <%= f.text_area :content, rows: 3, class: 'form-control js-comment-content', autocomplete: 'off' %>
                </div>
                <div class="actions">
                  <%= f.submit 'Post', class: 'btn btn-primary' %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
