<%#
   "Renders post flag modal

    Variables:
      post : Post to render the modal for
      user : User that will flag the post
"%>

<div class="post--action-dialog js-flag-box">
  <div class="widget">
    <div class="widget--header">Why does this post require attention from curators or moderators?</div>
    <% if user&.active_flags_on?(post) %>
      <div class="widget--body">
        <div class="notice is-warning">
          You already have active flags on this post:
          <ul>
            <% user.active_flags(post).each do |flag| %>
              <li>
                <strong><%= flag.post_flag_type&.name || 'other' %></strong>
                <% unless flag.reason.nil? %>
                  <span class="has-color-tertiary-600"><%= flag.reason %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% unless post.locked? %>
      <% PostFlagType.where(post_type_id: [post.post_type.id, nil]).where(active: 1).each do |reason| %>
        <div class="widget--body">
          <div class="grid">
            <div class="grid--cell">
              <input class="form-radio-element"
                     type="radio"
                     name="flag-reason"
                     value="<%= reason.id %>"
                     id="flag-reason-<%= reason.id %>_<%= post.id  %>"
                     data-requires-details="<%= reason.requires_details %>"
                     data-response-type="<%= reason.name == "needs author's attention" ? 'comment' : nil %>" />
            </div>
            <div class="grid--cell is-flexible">
              <label class="form-element has-margin-0" for="flag-reason-<%= reason.id %>_<%= post.id  %>">
                <%= reason.name %>
                <div class="form-caption">
                  <%= raw render_markdown(reason.description.gsub "$SiteName", SiteSetting['SiteName']) %>
                </div>
                <% if reason.name == "needs author's attention" %>
                  <div class="form-caption">
                    <em>This flag will be added as a comment to this post's feedback thread.</em>
                  </div>
                <% elsif reason.name == 'is a duplicate' %>
                  <div class="form-caption">
                    <em>Please enter the URL of the proposed duplicate in the details field below.</em>
                  </div>
                <% end %>
              </label>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="widget--body">
      <div class="grid">
        <div class="grid--cell">
          <input class="form-radio-element"
                 type="radio"
                 name="flag-reason"
                 value="-1"
                 id="flag-reason-curator_<%= post.id  %>"
                 data-requires-details="true" />
        </div>
        <div class="grid--cell is-flexible">
          <label class="form-element has-margin-0" for="flag-reason-curator_<%= post.id  %>">
            change post status <br/>
            <span class="form-caption">
              This post should be reopened/closed, locked/unlocked, or deleted/undeleted. Please elaborate in the details field below.
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="widget--body">
      <div class="grid">
        <div class="grid--cell">
          <input class="form-radio-element"
                 type="radio"
                 name="flag-reason"
                 value="-1"
                 id="flag-reason-other_<%= post.id  %>"
                 data-requires-details="true" />
        </div>
        <div class="grid--cell is-flexible">
          <label class="form-element has-margin-0" for="flag-reason-other_<%= post.id  %>">
            moderator attention <br/>
            <span class="form-caption">
              Please elaborate in the details field below. This flag will be seen only by moderators and administrators, not curators.
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="widget--body">
      <label class="form-element" for="flag-post-<%= post.id %>">
        Details?
      </label>
      <div class="form-caption">You might want to add some details to your flag.</div>
      <input class="form-element js-flag-comment" id="flag-post-<%= post.id %>">
    </div>
    <div class="widget--footer">
      <button class="flag-link button is-filled is-muted"
                      data-post-type="<%= post.question? ? 'Question' : 'Answer' %>"
                      data-post-id="<%= post.id %>">
        Flag for attention
      </button>
    </div>
  </div>
</div>
