<% content_for :head do %>
  <%= render 'posts/markdown_script' %>
<% end %>

<div class="notice is-info">
  <p><strong>Posting Tips</strong></p>
  <div class="has-font-size-caption">
  <% guidance = @category.asking_guidance_override || SiteSetting['AskingGuidance'] %>
    <%= raw(sanitize(QuestionsController.renderer.render(guidance), scrubber: scrubber)) %>
  </div>
</div>

<% if @post.errors.any? %>
  <div class="notice is-danger is-filled">
    <p>The following errors prevented your post being saved:</p>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'posts/image_upload' %>

<%= form_for @post, url: submit_path, html: { class: 'has-margin-top-4' } do |f| %>
  <%= f.hidden_field :category_id %>
  <%= f.hidden_field :post_type_id %>

  <div class="form-group">
    <%= f.label :body_markdown, 'Post body:', class: 'form-element js-editor' %>
    <%= render 'posts/mdhint' %>
    <%= render 'shared/markdown_tools' %>
    <%= f.text_area :body_markdown, class: 'form-element is-large post-field js-post-field' %>
  </div>

  <div class="post-preview"></div>

  <div class="form-group">
    <%= f.label :title, 'Summarize your post with a title:', class: 'form-element' %>
    <%= f.text_field :title, class: 'form-element' %>
  </div>

  <div class="form-group">
    <%= f.label :tags_cache, 'Tags (at least one):', class: 'form-element' %>
    <%= f.select :tags_cache, options_for_select(@post.tags_cache.map { |t| [t, t] }, selected: @post.tags_cache),
                 { include_blank: true }, multiple: true, class: "form-element js-tag-select",
                 data: { tag_set: @category.tag_set_id } %>
  </div>

  <% unless @post.id.present? %>
    <div class="form-group">
      <%= f.label :license_id, 'License', class: 'form-element' %>
      <span class="form-caption">
        <% site_default = License.site_default %>
        <% category_default = @category.license %>
        <% if site_default.present? %>
          site default: <a href="javascript:void(0)" class="js-license-autofill" data-license-id="<%= site_default.id %>">
            <%= site_default.name %>
          </a>
        <% end %>
        <% if site_default.present? && category_default.present? %>
          &middot;
        <% end %>
        <% if category_default.present? %>
          category default: <a href="javascript:void(0)" class="js-license-autofill" data-license-id="<%= category_default.id %>">
            <%= category_default.name %>
          </a>
        <% end %>
      </span>
      <%= f.select :license_id, options_for_select(License.enabled.default_order(@category).map { |l| [l.name, l.id] },
                                                   selected: @post.license_id), {}, class: 'form-element' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Save Post in #{@category.name}", class: 'button is-filled is-large' %>
  </div>
<% end %>