<% content_for :head do %>
  <%= render 'posts/markdown_script' %>
<% end %>

<div class="notice is-info">
  <p><strong>Posting Tips</strong></p>
  <div class="has-font-size-caption">
    <%= raw(sanitize(QuestionsController.renderer.render(SiteSetting['AskingGuidance']), scrubber: scrubber)) %>
  </div>
</div>

<%= form_for @post, url: submit_path, html: { class: 'has-margin-top-4' } do |f| %>
  <%= f.hidden_field :category_id %>

  <div class="form-group">
    <%= f.label :body, 'Post body:', class: 'form-element js-editor' %>
    <%= render 'posts/mdhint' %>
    <%= f.text_area :body, class: 'form-element is-large post-field' %>
  </div>

  <div class="post-preview"></div>

  <div class="form-group">
    <%= f.label :title, 'Summarize your post with a title:', class: 'form-element' %>
    <%= f.text_field :title, class: 'form-element' %>
  </div>

  <div class="form-group">
    <%= f.label :tags_cache, 'Tags (at least one):', class: 'form-element' %>
    <%= f.select :tags_cache, @post.tags_cache.map { |t| [t, t] }, { include_blank: true }, multiple: true,
                 class: "form-element js-tag-select", selected: @post.tags_cache,
                 data: { tag_set: @category.tag_set_id } %>
  </div>

  <div class="actions">
    <%= f.submit "Save Post in #{@category.name}", class: 'button is-filled is-large' %>
  </div>
<% end %>