<div class="modal is-with-backdrop" id="markdown-image-upload">
  <div class="modal--container">
    <div class="modal--header">
      <button class="button is-close-button modal--header-button" data-modal="#markdown-image-upload">&times;</button>
      Image upload
    </div>
    <div class="modal--body">
      <%= form_tag upload_path, multipart: true, class: 'form-inline upload-form js-upload-form' do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group">
          <%= label_tag :file, 'Insert an image', class: "form-element" %>
          <div class="form-caption js-max-size">Max file size <%= SiteSetting['MaxUploadSize'] %>.</div>
          <%= file_field_tag :file, class: "form-element" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

