<%# is_question = post.post_type_id == Question.post_type_id %>
<%# is_article = post.post_type_id == Article.post_type_id %>
<%# is_meta = (is_question && post.meta?) || (!is_question && post.parent&.meta?) %>
<% active_user = post.last_activity_by || post.user %>
<% @show_type_tag = !!defined?(show_type_tag) ? show_type_tag : false %>
<% @show_category_tag = !!defined?(show_category_tag) ? show_category_tag : false %>
<% @last_activity = !!defined?(last_activity) ? last_activity : true %>

<div class="item-list--item <%= post.deleted ? 'deleted-content' : '' %>" data-ckb-list-item data-ckb-item-type="link">
  <% if post.post_type.has_votes %>
    <div class="item-list--number-value">
      <div class="meter is-question-score">
        <div class="meter--bar is-<%= (post.score * 100).to_i %>%"><%= (post.score * 100).to_i %>%</div>
      </div>
      <span class="item-list--number">
        <span class="js-upvote-count has-font-size-subheading">+<%= post.upvote_count %></span>
      </span>
      <span class="item-list--number">
        <span class="js-downvote-count has-font-size-subheading">&minus;<%= post.downvote_count %></span>
      </span>
    </div>
  <% else %>
    <div class="item-list--number-value post--no-votes">
      <i class="far fa-dot-circle" title="This post type does not support voting."></i>
    </div>
  <% end %>
  <div class="item-list--text-value is-primary">
    <div class="post-list--title">
      <%= link_to generic_share_link(post), 'data-ckb-item-link' => '' do %>
        <% if @show_category_tag && post.post_type.has_category %>
          <span class="badge is-tag is-filled"><%= defined?(@category) ? @category.name : post.category.name %></span>
        <% end %>
        <%= post.post_type.is_top_level ? post.title : post.parent.title %>
        <%= post.post_type.is_closeable && post.closed && !post.duplicate_post  ? "[closed]" : "" %>
      <%= post.duplicate_post && post.post_type.is_closeable && post.closed ? "[duplicate]" : "" %>
      <% end %>
    </div>
    <p class="has-color-tertiary-600 has-float-right post-list--meta">
      <% if post.post_type.has_answers? %>
        <span class="answer-count <%= post.answer_count == 0 ? 'badge is-tag is-red is-small' : 'h-c-green-700' %>">
          <%= pluralize(post.answer_count, 'answer') %>
        </span>&nbsp;&middot;&nbsp;
      <% end %>
      <% if @last_activity %>
        last activity <span title="<%= post.last_activity.iso8601 %>"><%= time_ago_in_words(post.last_activity) %> ago</span>
        by <%= link_to active_user.rtl_safe_username, user_path(active_user), dir: 'ltr' %>
      <% end %>
    </p>
    <div class="has-padding-top-2">
      <% category = defined?(@category) ? @category : post.category %>
      <% if @show_type_tag || category.display_post_types.reject { |e| e.to_s.empty? }.size > 1 %>
        <%= post_type_badge(post.post_type) %>
      <% end %>
      <% if post.post_type.has_tags %>
        <% required_ids = post.category&.required_tag_ids %>
        <% moderator_ids = post.category&.moderator_tag_ids %>
        <% topic_ids = post.category&.topic_tag_ids %>
        <% category_sort_tags(post.tags, required_ids, topic_ids, moderator_ids).each do |tag| %>
          <% required = required_ids&.include?(tag.id) ? 'is-filled' : '' %>
          <% topic = topic_ids&.include?(tag.id) ? 'is-outlined' : '' %>
          <% moderator = moderator_ids.include?(tag.id) ? 'is-red is-outlined' : '' %>
          <%= link_to tag.name, tag_path(id: post.category_id, tag_id: tag.id),
                      class: "badge is-tag #{required} #{topic} #{moderator}" %>
        <% end %>
      <% end %>
      <% display_label = user_preference('display_import_labels', community: true) == 'true' %>
      <% if (post.att_source.present? || post.created_at < RequestContext.community.created_at) && display_label %>
        <%= link_to post.att_source, class: 'badge is-tag' do %>
          <i class="fab fa-stack-exchange" title="Imported <%= post.created_at.iso8601 %>"
             aria-label="Imported <%= post.created_at.iso8601 %>"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
