<% is_question = post.post_type_id == Question.post_type_id %>
<div class="question <%= is_question && post.is_meta ? 'post__meta' : '' %>">
  <div class="question--score">
    <span class="score"><%= post.score %></span>
    <span class="descriptor">score</span>
  </div>
  <div class="question--info">
    <%= link_to question_path(is_question ? post : post.parent), class: 'question--title' do %>
      <% if (is_question && post.is_meta) || (!is_question && post.parent.is_meta) %>
        <strong>META</strong> &mdash;
      <% end %>
      <%= is_question ? post.title : post.parent.title %>
    <% end %>
    <% if is_question %>
      <div class="question--tags">
        <% post.tags_cache.each do |tag| %>
          <%= link_to tag, questions_tagged_path(tag), class: 'tag' %>
        <% end %>
      </div>
    <% end %>
    <span class="question--details">
      <% if is_question %>
        <%= pluralize(post.answer_count, 'answer') %> &middot;
      <% end %>
      <% active_user = post.last_activity_by || post.user %>
      last activity <%= time_ago_in_words(post.last_activity) %> ago by
      <img alt="user avatar" src="<%= avatar_url(active_user) %>" height="16" width="16" />
      <%= link_to active_user.username, user_path(active_user) %>
    </span>
  </div>
</div>
