<% is_question = post.post_type_id == Question.post_type_id %>
<% is_meta = (is_question && post.meta?) || (!is_question && post.parent.meta?) %>
<% active_user = post.last_activity_by || post.user %>
<div class="item-list--item <%= is_meta ? 'post__meta' : '' %> <%= post.deleted ? 'deleted-content' : '' %>">
  <div class="item-list--number-value">
    <span class="item-list--number"><%= post.score %></span>
    <span class="item-list--number-label">score</span>
  </div>
  <div class="item-list--text-value is-primary">
    <div class="post-list--title">
      <%= link_to is_question ? share_question_path(post) : share_answer_path(qid: post.parent_id, id: post.id) do %>
        <% if (is_question && post.meta?) || (!is_question && post.parent.meta?) %>
          <span class="badge is-tag is-master-tag is-muted">meta</span>
        <% end %>
        <%= is_question ? post.title : post.parent.title %>
        <%= is_question && post.closed ? "[closed]" : "" %>
      <% end %>
    </div>
    <p class="has-color-tertiary-600 has-float-right post-list--meta">	
      <% if is_question %>	
        <span class="answer-count <%= post.answer_count == 0 ? 'badge is-tag is-red is-small' : 'h-c-green-700' %>">
          <%= pluralize(post.answer_count, 'answer') %>
        </span>&nbsp;&middot;&nbsp;	
      <% end %>	
      last activity <%= time_ago_in_words(post.last_activity) %> ago by <%= link_to active_user.username, user_path(active_user) %>	
    </p>
    <div class="has-padding-top-2">
      <% if is_question %>
        <% tag_set = post.tag_set %>
        <% required_ids = post.category&.required_tag_ids %>
        <% topic_ids = post.category&.topic_tag_ids %>
        <% post.tags.category_sort_by(required_ids, topic_ids).each do |tag| %>
          <% required = required_ids&.include? tag.id %>
          <% topic = topic_ids&.include? tag.id %>
          <%= link_to tag.name, questions_tagged_path(tag_set: tag_set.id, tag: tag.name),
                      class: "badge is-tag #{required ? 'is-filled' : ''} #{topic ? 'is-outlined' : ''}" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
