<%#
   "Renders votes for a given post

    Variables:
      post : Post to render votes for
"%>

<div>
  <% if post.post_type.has_votes %>
    <div class="post--votes has-text-align-center" title="Score: <%= post.score %>">
      <% existing_vote = my_vote(post) %>
      <% unless post.locked? %>
        <button class="vote-button button is-icon-only-button <%= (existing_vote&.vote_type == 1) ? 'is-active' : '' %>"
                data-vote-type="1"
                data-vote-id="<%= existing_vote&.id %>" id="post-<%= post.id %>-up"
                aria-label="Upvote">
          <svg width="2em" height="1.33em" viewbox="0 0 100 50">
            <path d="M50,0 L100,50 L0,50 Z" fill="currentColor" />
          </svg>
        </button>
      <% end %>
      <div class="score has-font-size-subheading js-upvote-count">
        +<%= post.upvote_count %>
      </div>
      <div class="score has-font-size-subheading js-downvote-count">
        &minus;<%= post.downvote_count %>
      </div>
      <% unless post.locked? %>
        <button class="vote-button button is-icon-only-button <%= (existing_vote&.vote_type == -1) ? 'is-active' : '' %>"
                data-vote-type="-1"
                data-vote-id="<%= existing_vote&.id %>" id="post-<%= post.id %>-up"
                aria-label="Downvote">
          <svg width="2em" height="1.33em" viewbox="0 0 100 50">
            <path d="M0,0 L100,0 L50,50 Z" fill="currentColor" />
          </svg>
        </button>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? && post.post_type.has_reactions && post.post_type.reactions.any? %>
    <div class="post--react has-text-align-center">
      <% unless post.locked? %>
        <button class="react-button button is-muted is-icon-only-button h-fw-bold"
                id="post-<%= post.id %>-react"
                aria-label="Add Reaction"
                data-drop="#post-<%= post.id %>-reactions-panel"
                data-drop-self-class-toggle="is-active"
                data-drop-force-dir="down">
          react
        </button>
      <% end %>
    </div>
  <% end %>
</div>
