<h1>
  Edit <%= @post_type.name.underscore.humanize.titleize %>
  <% if @category.present? %>
    in <%= @category.name %>
  <% end %>
</h1>

<% if @category.present? %>
  <div class="notice is-info">
    <p><strong>Posting Tips</strong></p>
    <div class="has-font-size-caption">
      <% cache [@category, @post_type, 'guidance'] do %>
        <% guidance = @post_type.is_top_level? ?
                        @category.asking_guidance_override :
                        @category.answering_guidance_override %>
        <% setting = @post_type.is_top_level? ?
                       SiteSetting['AskingGuidance'] :
                       SiteSetting['AnsweringGuidance'] %>
        <%= raw(sanitize(render_markdown(guidance.present? ? guidance : setting), scrubber: scrubber)) %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @post.errors.any? %>
  <div class="notice is-danger is-filled">
    <p>The following errors prevented your post being saved:</p>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form', post: @post, post_type: @post_type, category: @category, submit_path: request.path,
           edit_comment: true, parent: @post.parent, type_summary: false %>

<% if @post.parent.present? %>
  <h2 class="h-m-t-8">Responding to:</h2>
  <%= render 'posts/expanded', post: @post.parent %>
<% end %>
