<h1 class="has-margin-bottom-2">
  New Post
  <% if @category.present? %>
    in <%= @category.name %>
  <% end %>
</h1>
<% if @category.present? %>
  <p class="has-color-tertiary-500">Not where you meant to post? See <%= link_to 'Categories', categories_path %></p>

  <div class="notice is-info">
    <p><strong>Posting Tips</strong></p>
    <div class="has-font-size-caption">
      <% guidance = @category.asking_guidance_override %>
      <%= raw(sanitize(render_markdown(guidance.present? ? guidance : SiteSetting['AskingGuidance']), scrubber: scrubber)) %>
    </div>
  </div>
<% end %>

<% if @post.errors.any? %>
  <div class="notice is-danger is-filled">
    <p>The following errors prevented your post being saved:</p>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form', post: @post, post_type: @post_type, category: @category, submit_path: request.path %>