<% content_for :title, @category.name %>

<% content_for :sidebar do %>
  <div class="has-margin-4">
    <%= link_to create_post_path(category_id: @category.id, post_type_id: Question.post_type_id),
                class: 'button is-filled is-large' do %>
      <%= @category.button_text || 'Create Post' %>
    <% end %>
  </div>
<% end %>


<h1><%= @category.name %></h1>
<% if @category.short_wiki %>
  <%= raw(sanitize(QuestionsController.renderer.render(@category.short_wiki), scrubber: scrubber)) %>
<% end %>

<% post_count = @posts.count %>
<div class="has-color-tertiary-500 category-meta" title="<%= post_count %>">
  <%= short_number_to_human post_count, precision: 1, significant: false %>
  <%= 'post'.pluralize(post_count) %>

  <div class="button-list is-gutterless has-margin-2">
    <%= link_to 'Activity', query_url(sort: 'activity'),
                class: "button is-muted is-outlined #{(params[:sort].nil?) && !current_page?(questions_lottery_path) ||
                    params[:sort] == 'activity' ? 'is-active' : ''}" %>
    <%= link_to 'Age', query_url(sort: 'age'),
                class: "button is-muted is-outlined #{params[:sort] == 'age' ? 'is-active' : ''}" %>
    <%= link_to 'Score', query_url(sort: 'score'),
                class: "button is-muted is-outlined #{params[:sort] == 'score' ? 'is-active' : ''}" %>
    <% if @category.name == 'Q&A' %>
      <%= link_to 'Lottery', query_url(sort: 'lottery'),
                  class: "button is-muted is-outlined #{params[:sort] == 'lottery' ? 'is-active' : ''}" %>
    <% end %>
  </div>
</div>

<div class="item-list">
  <% @posts.each do |post| %>
    <%= render 'posts/type_agnostic', post: post %>
  <% end %>
</div>