<%= render 'tabs' %>

<div class="flex-row">
  <%= stat_panel 'reaction types', @reaction_types.count %>
  <%= stat_panel 'reactions', @reactions.count %>
  <%= stat_panel 'users', @users.count %>
</div>
<h3>Reaction usage</h3>
<%= line_chart Reaction.where('reactions.created_at >= ?', 1.year.ago).where(reaction_type: @reaction_types)
                       .group(:reaction_type_id).group_by_week(:created_at).count
                       .reduce({}) { |acc, val| acc[val[0][0]] ||= []; acc[val[0][0]] << ({val[0][1] => val[1]}); acc }
                       .map { |k, v| { name: @reaction_types.select { |x| x.id == k }[0].name,
                                       data: v.map(&:to_a)[0] } } %>
