<%= render 'tabs' %>

<div class="flex-row">
  <%= stat_panel 'all', @types.map { |_, v| v }.sum %>
  <%= stat_panel 'interesting', @types['interesting'] %>
  <%= stat_panel 'tag', @types['tag'] %>
  <%= stat_panel 'user', @types['user'] %>
</div>

<h3>New subscriptions</h3>
<%= line_chart Subscription.where('created_at >= ?', 1.year.ago).group_by_week(:created_at).count %>