<footer class="footer is-inverted">
  <div class="footer--container container">
    <div class="grid">
      <div class="grid--cell is-6 is-12-md is-12-sm">
	<ul>
          <li><%= link_to 'Our Communities', '/dashboard' %></li>
          <li><%= link_to 'About Us', '/policy/network-faq' %></li>
	</ul>
      </div>
      <div class="grid--cell is-6 is-12-md is-12-sm">
        <ul>
          <li><%= link_to 'Terms of Service', '/policy/tos' %></li>
          <li><%= link_to 'Privacy Policy', '/policy/privacy-policy' %></li>
          <li><%= link_to 'Code of Conduct', '/policy/code-of-conduct' %></li>
        </ul>
      </div>
    </div>
    <% commit = Rails.cache.persistent('current_commit') %>
    <p>Powered by <%= link_to 'Codidact', 'https://codidact.org/' %>. Version <%= link_to commit[0][0..7], "https://github.com/codidact/qpixel/commit/#{commit[0]}" %> (<%= commit[1] %>)
    </p>
  </div>
</footer>
