<!DOCTYPE html>
<html>
<head>
  <title><%= get_setting('SiteName') %> - <%= yield(:title) %></title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://code.jquery.com/jquery-2.2.2.min.js" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="site-logo">
        <% if get_setting('SiteLogoPath') %>
          <a href="/"><img src="<%= get_setting('SiteLogoPath') %>" /></a>
        <% else %>
          <a href="/"><%= get_setting('SiteName') %></a>
        <% end %>
      </div>
      <div class="toplevel-links">
        <% if user_signed_in? %>
          <% if @open_flags %>
            <a href="/mod/flags"><span class="badge flag-indicator"><%= @open_flags %></span></a>
          <% end %>
          <% if current_user.unread_notifications > 0 %>
            <span class="dropdown notifications">
              <span class="badge dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.unread_notifications %>
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu">
                <li>...</li>
              </ul>
            </span>
          <% end %>
          <a href="/users/<%= current_user.id %>"><%= current_user.username %></a>
          <span class="smaller gray">(<%= current_user.reputation %>)</span> —
          <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "smaller" %>
          <span class="lateral-sep"></span>
        <% else %>
          <%= link_to "sign in", new_user_session_path, class: "smaller" %> |
          <%= link_to "sign up", new_user_registration_path, class: "smaller" %>
          <span class="lateral-sep"></span>
        <% end %>
        <% if user_is_admin %>
          <a class="toplevel" href="/admin">Admin</a>
        <% end %>
        <% if user_is_mod %>
          <a class="toplevel" href="/mod">Moderator</a>
        <% end %>
        <a class="toplevel" href="/questions">Questions</a>
        <a class="toplevel" href="/users?sort=reputation">Users</a>
        <a class="toplevel" href="/questions/ask">Ask!</a>
      </div>
    </div>
    <span class="clearfix"></span>
  </div>
  <div class="container">
    <div class="content">
      <p class="notice text-info"><%= notice %></p>
      <p class="error text-danger"><%= flash[:error] %></p>
      <div class="content-bar">
        <%= yield %>
      </div>
      <div class="sidebar">
        <%= yield(:sidebar) %>
        <div class="padded bg-primary">
          <h4>Hot Questions</h4>
          <ul>
            <% @hot_questions.each do |q| %>
              <li><a href="/questions/<%= q.id %>"><%= q.title %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">

    </div>
  </div>
</body>
</html>
