<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= SiteSetting['SiteName'] %> - <%= yield(:title) %></title>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "https://code.jquery.com/jquery-2.2.2.min.js" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <header>
    <div class="container">
      <% if SiteSetting.exist?('SiteLogoPath') %>
        <a href="/" class="title-link"><img src="<%= SiteSetting['SiteLogoPath'] %>" height="64" /></a>
      <% else %>
        <a href="/" class="title-link"><%= SiteSetting['SiteName'] %></a>
      <% end %>
      <nav>
        <span class="user-details">
          <% if user_signed_in? %>
            <% if current_user.is_admin || current_user.is_moderator %>
              <%= link_to flag_queue_path, class: 'clear open-flags' do %>
                <span class="badge"><%= @open_flags > 0 ? @open_flags : '' %></span>
              <% end %>
            <% end %>
            <div class="btn-group">
              <button type="button" class="btn btn-link dropdown-toggle inbox-toggle" data-toggle="dropdown">
                <% unread = current_user.unread_count %>
                <i class="fas fa-inbox"></i> <span class="badge inbox-count"><%= unread > 0 ? unread : '' %></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu inbox">

              </ul>
            </div>
            <img alt="user avatar" src="<%= avatar_url(current_user) %>" height="16" width="16" />
            <%= link_to current_user.username, user_path(current_user), class: 'clear' %> (<%= current_user.reputation %>) &middot;
            <%= link_to 'sign out', destroy_user_session_path, method: :delete, class: 'clear' %>
          <% else %>
            <%= link_to 'sign in', new_user_session_path, class: 'clear' %> &middot;
            <%= link_to 'sign up', new_user_registration_path, class: 'clear' %>
          <% end %>
        </span>
        <%= link_to 'Questions', questions_path %>
        <%= link_to 'Users', users_path %>
        <%= link_to 'Search', search_path %>
        <%= link_to 'Meta', meta_path %>
        <%= link_to 'Ask!', new_question_path %>
      </nav>
    </div>
  </header>
  <main class="container">
    <div class="content">
      <% {notice: :info, alert: :danger, danger: :danger, success: :success, info: :info, warning: :warning}.each do |mt, cc| %>
        <% if flash[mt].present? %>
          <div class="alert alert-<%= cc.to_s %>">
            <%= flash[mt] %>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <div class="sidebar">
      <%= yield(:sidebar) %>

      <% if user_is_mod || user_is_admin %>
        <div class="module">
          <h4 class="module__title">Moderator Tools</h4>
          <div class="module__content">
            <ul>
              <% if user_is_mod %>
                <li><%= link_to 'Moderator Tools', moderator_path %></li>
              <% end %>
              <% if user_is_admin %>
                <li><%= link_to 'Admin Tools', admin_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <% if Rails.env.development? || @hot_questions.size > 0 %>
        <div class="module">
          <h4 class="module__title">Hot Questions</h4>
          <div class="module__content">
            <ul>
              <% @hot_questions.each do |hq| %>
                <li><%= link_to hq.title, question_path(hq) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </main>
  <footer>
    <div class="container">
      <span><%= link_to 'Terms of Service', policy_path(slug: 'tos') %></span> &middot;
      <span>Current version: <%= Rails.cache.persistent('current_commit') %></span>
    </div>
  </footer>
</body>
</html>
