<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <% desc = "#{SiteSetting['SiteName']} on Codidact - open, community-run Q&A knowledge sharing" %>
  <meta name="description" content="<%= content_for?(:description) ? content_for(:description) : desc %>" />
  <title>
    <%= Rails.env.development? ? '[DEV] ' : '' %>
    <%= SiteSetting['SiteName'] %>
    <% if content_for?(:title) %>
      - <%= yield(:title) %>
    <% end %>
  </title>
  <link rel="icon" href="<%= SiteSetting['IconPath'] || '/assets/favicon.ico' %>" />
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" %>
  <%= stylesheet_link_tag "https://unpkg.com/@codidact/co-design@0.7.0/dist/codidact.css" %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" %>
  <%= stylesheet_link_tag "/assets/community/" + @community.name + ".css" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "https://code.jquery.com/jquery-2.2.2.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js" %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="<%= Rails.env.development? ? 'development' : '' %>">
  <header class="header has-margin-0 <%= SiteSetting['SiteHeaderIsDark'] ? 'is-dark' : '' %>">
    <div class="container header--container">
      <div class="header--brand">
        <% if SiteSetting['SiteLogoPath'].present? %>
          <a href="/" class="header--site-name" aria-label="Home"><img alt src="<%= SiteSetting['SiteLogoPath'] %>" /></a>
        <% else %>
          <a href="/" class="header--site-name" aria-label="Home"><%= SiteSetting['SiteName'] %></a>
        <% end %>
      </div>
      <nav class="header--menu">
        <%= link_to 'Categories', categories_path, class: 'header--item' %>
        <%= link_to 'Users', users_path, class: 'header--item' %>
        <%= link_to 'Search', search_path, class: 'header--item' %>

        <div class='header--separator'></div>

        <%= link_to 'Help', help_center_path, class: 'header--item' %>

        <% if user_signed_in? %>
          <% if current_user.is_admin || current_user.is_moderator %>
            <%= link_to flag_queue_path, class: 'header--item' do %>
              <% if @open_flags > 0 %>
                <span class="header--alert"><%= @open_flags %></span>
              <% end %>
              Flags
            <% end %>
          <% end %>
          <a href="#" class="header--item inbox-toggle is-visible-on-mobile" data-toggle="dropdown">
              <% unread = current_user.unread_count %>
              <% if unread > 0 %>
                <span class="header--alert"><%= unread %></span>
              <% end %>
              <i class='fas fa-inbox' title='Notifications'></i>
          </a>
          <%= link_to user_path(current_user), class: 'header--item is-complex is-visible-on-mobile' do %>
            <img alt="user avatar" src="<%= avatar_url(current_user) %>" class="header--item-image">&nbsp;&nbsp;
            <span class="has-font-size-larger <%= SiteSetting['SiteHeaderIsDark'] ? 'has-color-white' : 'has-color-tertiary-600' %>"><%= current_user.reputation %></span>
          <% end %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'header--item' %>
        <% else %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-muted is-filled' %>
          <%= link_to 'Sign In', new_user_session_path, class: 'button is-muted is-outlined' %>
        <% end %>
        <a class="header--item is-mobile-menu is-complex" aria-label="Menu" href="#" data-trigger-header-slide=".mobile-menu">
          <span class="header--menu-bars">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
      </nav>
    </div>
  </header>

  <div class="header-slide inbox">
  </div>
  <div class="header-slide mobile-menu">
    <%= link_to 'Categories', categories_path, class: 'header--item' %>
    <%= link_to 'Users', users_path, class: 'header-slide--item' %>
    <%= link_to 'Search', search_path, class: 'header-slide--item' %>

    <div class='header-slide--separator'></div>

    <%= link_to 'Help', help_center_path, class: 'header-slide--item' %>

    <div class='header-slide--separator'></div>

    <% if user_signed_in? %>
      <% if current_user.is_admin || current_user.is_moderator %>
        <%= link_to flag_queue_path, class: 'header-slide--item' do %>
          <% if @open_flags > 0 %>
            <span class="header-slide--alert"><%= @open_flags %></span>
          <% end %>
          Flags
        <% end %>
      <% end %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'header-slide--item' %>
    <% else %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-filled' %>
      <%= link_to 'Sign In', new_user_session_path, class: 'button is-outlined' %>
    <% end %>
  </div>

<% if expandable? %>
  <% cat = current_category %>
  <header class="category-header is-<%= cat.color_code.present? ? cat.color_code : SiteSetting['SiteCategoryHeaderDefaultColor'] %> %>">
<% else %>
  <header class="category-header is-<%= SiteSetting['SiteCategoryHeaderDefaultColor'] %>">
<% end %>
    <div class="category-header--tabs">
      <div class="container category-header--tabs-container">
        <% @header_categories.each do |cat| %>
          <%= link_to cat.name, category_path(cat),
                      class: "category-header--tab #{active?(cat) ? 'is-active' : ''}" %>
        <% end %>
      </div>
    </div>
    <% if expandable? %>
      <div class="container category-header--container">
        <div class="category-header--name"><%= cat.name %></div>
        <div class="category-header--nav">
          <%= link_to 'Posts', category_path(cat),
                      class: "category-header--nav-item #{active?(cat) ? 'is-active' : ''}" %>
          <%# There will eventually be a Tags link here too, once we have a page that lists tags per-tag set. %>
          <div class="category-header--nav-separator"></div>
          <%= link_to create_post_path(category_id: cat.id, post_type_id: Question.post_type_id),
                      class: 'category-header--nav-item is-button' do %>
            <%= cat.button_text.present? ? cat.button_text : 'Create Post' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </header>

  <% if Rails.env.development? %>
    <div class="notice is-danger is-banner has-padding-2 notice__dev-mode">
      <div class="container">
        <p>This site is in development mode!</p>
      </div>
    </div>
  <% end %>

  <main class="container">

    <div class="grid">

      <div class="grid--cell is-8-lg is-12">
        <div class="has-padding-4">
          <% {notice: :info, alert: :danger, danger: :danger, success: :success, info: :info, warning: :warning}.each do |mt, cc| %>
            <% if flash[mt].present? %>
              <div class="notice is-<%= cc.to_s %>">
                <%= flash[mt] %>
              </div>
            <% end %>
          <% end %>


          <% if @first_visit_notice %>
            <% notice = SiteSetting['FirstVisitGuidance'] %>
            <% if notice.present? %>
              <div class="notice js-first-visit-notice">
                <button type="button" class="button is-close-button" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= raw(sanitize(notice, scrubber: scrubber)) %>
              </div>
            <% end %>
          <% end %>
  
          <%= yield %>
        </div>
      </div>
      <div class="grid--cell is-4-lg is-12">
        <%= yield(:sidebar) %>

        <% if Rails.env.development? || @hot_questions.size > 0 %>
          <div class="widget has-margin-4">
            <h4 class="widget--header has-margin-0">Hot Posts</h4>
            <% @hot_questions.each do |hq| %>
              <div class="widget--body">
                <%= link_to question_path(hq) do %>
                  <% unless hq.category.nil? %>
                    <span class="badge is-tag is-master-tag"><%= hq.category.name %></span>
                  <% end %>
                  <%= hq.title %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if moderator? || admin? %>
          <div class="widget has-margin-4">
            <h4 class="widget--header has-margin-0">Moderator Tools</h4>
            <div class="widget--body">
              <ul>
                <% if moderator? %>
                  <li><%= link_to 'Moderator Tools', moderator_path %></li>
                <% end %>
                <% if admin? %>
                  <li><%= link_to 'Admin Tools', admin_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <% if user_signed_in? %>
          <div class="widget has-margin-4">
            <div class="widget--header">
              <%= link_to 'edit', '/subscriptions', class: 'widget--header-link' %>
              Subscribe to Questions
            </div>
            <div class="widget--body">
              <p>You can subscribe to
              <%= link_to 'new questions', new_subscription_path(type: 'all', return_to: request.path) %>
              or to
              <%= link_to 'interesting questions', new_subscription_path(type: 'interesting', return_to: request.path) %>.</p>
            </div>
          </div>
        <% end %>

        <div class="widget has-margin-4">
          <div class="widget--header">
            <img src="/assets/codidact.png" alt="Codidact logo" class="codidact-logo" />
          </div>
          <div class="widget--body">
            <p>
              This site is part of the <a href="https://codidact.com">Codidact network</a>.
              We have other sites too &mdash; take a look!
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer is-inverted">
    <div class="footer--container container">
      <div class="grid">
        <div class="grid--cell is-6 is-12-md is-12-sm">
          <h3>The Codidact Project</h3>
          <ul>
            <li><%= link_to 'Terms of Service', 'https://writing.codidact.com/policy/tos' %></li>
            <li><%= link_to 'Code of Conduct', 'https://writing.codidact.com/help/code-of-conduct' %></li>
            <li><%= link_to 'About us', 'https://codidact.org/' %></li>
            <li><%= link_to 'Other sites', 'https://codidact.com/' %></li>
          </ul>
        </div>
        <div class="grid--cell is-6 is-12-md is-12-sm">
          <h3>Other Codidact Sites</h3>
          <ul>
            <% Rails.cache.persistent('codidact_sites').each do |site| %>
              <li><%= link_to site['name'], site['canonical_url'] %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <% commit = Rails.cache.persistent('current_commit') %>
      <p>
        Version <%= link_to commit[0][0..7], "https://github.com/codidact/qpixel/commit/#{commit[0]}" %> (<%= commit[1] %>)
      </p>
    </div>
  </footer>
</body>
</html>
