<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= Rails.env.development? ? '[DEV] ' : '' %><%= SiteSetting['SiteName'] %> - <%= yield(:title) %></title>
  <link rel="icon" href="<%= SiteSetting['IconPath'] || '/assets/favicon.ico' %>" />
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" %>
  <%= stylesheet_link_tag "https://unpkg.com/@codidact/co-design@0.5.0/dist/codidact.css" %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "https://code.jquery.com/jquery-2.2.2.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js" %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="<%= Rails.env.development? ? 'development' : '' %>">
  <header class="header">
    <div class="container header--container">
      <div class="header--brand">
        <% if SiteSetting.exist?('SiteLogoPath') %>
          <a href="/" class="header--site-name" aria-label="Home"><img alt src="<%= SiteSetting['SiteLogoPath'] %>" /></a>
        <% else %>
          <a href="/" class="header--site-name" aria-label="Home"><%= SiteSetting['SiteName'] %></a>
        <% end %>
      </div>
      <nav class="header--menu">
        <%= link_to 'Questions', questions_path, class: 'header--item' %>
        <%= link_to 'Users', users_path, class: 'header--item' %>
        <%= link_to 'Search', search_path, class: 'header--item' %>

        <div class='header--separator'></div>

        <%= link_to 'Meta', meta_path, class: 'header--item' %>
        <%= link_to 'Help', help_center_path, class: 'header--item' %>

        <% if user_signed_in? %>
          <% if current_user.is_admin || current_user.is_moderator %>
            <%= link_to flag_queue_path, class: 'header--item' do %>
              <% if @open_flags > 0 %>
                <span class="header--alert"><%= @open_flags %></span>
              <% end %>
              Flags
            <% end %>
          <% end %>
          <a href="#" class="header--item inbox-toggle is-visible-on-mobile" data-toggle="dropdown">
              <% unread = current_user.unread_count %>
              <% if unread > 0 %>
                <span class="header--alert"><%= unread %></span>
              <% end %>
              <i class='fas fa-inbox' title='Notifications'></i>
          </a>
          <%= link_to user_path(current_user), class: 'header--item is-complex is-visible-on-mobile' do %>
            <img alt="user avatar" src="<%= avatar_url(current_user) %>" class="header--item-image">&nbsp;&nbsp;
            <span class="has-font-size-larger has-color-tertiary-600"><%= current_user.reputation %></span>
          <% end %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'header--item' %>
        <% else %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-muted is-filled' %>
          <%= link_to 'Sign In', new_user_session_path, class: 'button is-muted is-outlined' %>
        <% end %>
        <a class="header--item is-mobile-menu is-complex" aria-label="Menu" href="#" data-trigger-header-slide=".mobile-menu">
          <span class="header--menu-bars">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
      </nav>
    </div>
  </header>
  <% if Rails.env.development? %>
    <div class="notice is-danger is-banner has-padding-2 notice__dev-mode">
      <div class="container">
        <p>This site is in development mode!</p>
      </div>
    </div>
  <% end %>
  <div class="header-slide inbox">
  </div>
  <div class="header-slide mobile-menu">
    <%= link_to 'Questions', questions_path, class: 'header-slide--item' %>
    <%= link_to 'Users', users_path, class: 'header-slide--item' %>
    <%= link_to 'Search', search_path, class: 'header-slide--item' %>

    <div class='header-slide--separator'></div>

    <%= link_to 'Meta', meta_path, class: 'header-slide--item' %>
    <%= link_to 'Help', help_center_path, class: 'header-slide--item' %>

    <div class='header-slide--separator'></div>

    <% if user_signed_in? %>
      <% if current_user.is_admin || current_user.is_moderator %>
        <%= link_to flag_queue_path, class: 'header-slide--item' do %>
          <% if @open_flags > 0 %>
            <span class="header-slide--alert"><%= @open_flags %></span>
          <% end %>
          Flags
        <% end %>
      <% end %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'header-slide--item' %>
    <% else %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-filled' %>
      <%= link_to 'Sign In', new_user_session_path, class: 'button is-outlined' %>
    <% end %>
  </div>
  <main class="container">

    <div class="grid">

      <div class="grid--cell is-8-lg is-12">
        <div class="has-padding-4">
          <% {notice: :info, alert: :danger, danger: :danger, success: :success, info: :info, warning: :warning}.each do |mt, cc| %>
            <% if flash[mt].present? %>
              <div class="notice is-<%= cc.to_s %>">
                <%= flash[mt] %>
              </div>
            <% end %>
          <% end %>


          <% if @first_visit_notice %>
            <% notice = SiteSetting['FirstVisitGuidance'] %>
            <% if notice.present? %>
              <div class="notice js-first-visit-notice">
                <button type="button" class="button is-close-button" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= raw(sanitize(notice, scrubber: scrubber)) %>
              </div>
            <% end %>
          <% end %>
  
          <%= yield %>
        </div>
      </div>
      <div class="grid--cell is-4-lg is-12">
        <%= yield(:sidebar) %>

        <% if Rails.env.development? || @hot_questions.size > 0 %>
          <div class="widget has-margin-4">
            <h4 class="widget--header has-margin-0">Hot Questions</h4>
            <% @hot_questions.each do |hq| %>
              <div class="widget--body">
                <%= link_to question_path(hq) do %>
                  <% if hq.is_meta %>
                    <span class="badge is-tag is-master-tag">meta</span>
                  <% end %>
                  <%= hq.title %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if moderator? || admin? %>
          <div class="widget has-margin-4">
            <h4 class="widget--header has-margin-0">Moderator Tools</h4>
            <div class="widget--body">
              <ul>
                <% if moderator? %>
                  <li><%= link_to 'Moderator Tools', moderator_path %></li>
                <% end %>
                <% if admin? %>
                  <li><%= link_to 'Admin Tools', admin_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <% if user_signed_in? %>
          <div class="widget has-margin-4">
            <div class="widget--header">
              <%= link_to 'edit', '/subscriptions', class: 'widget--header-link' %>
              Subscribe to Questions
            </div>
            <div class="widget--body">
              <p>You can subscribe to
              <%= link_to 'new questions', new_subscription_path(type: 'all', return_to: request.path) %>
              or to
              <%= link_to 'interesting questions', new_subscription_path(type: 'interesting', return_to: request.path) %>.</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <span><%= link_to 'Terms of Service', policy_path(slug: 'tos') %></span> &middot;
      <span>Current version: <%= Rails.cache.persistent('current_commit') %></span>
    </div>
  </footer>
</body>
</html>
