<!DOCTYPE html>
<html>
<head>
  <title>Qpixel</title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">

    </div>
    <div class="content">
      <div class="content-bar">
        <%= yield %>
      </div>
      <div class="sidebar">

      </div>
    </div>
    <div class="footer">

    </div>
  </div>
</body>
</html>
