<!DOCTYPE html>
<html>
<head>
  <title><%= get_setting('SiteName') %> - <%= yield(:title) %></title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://code.jquery.com/jquery-2.2.2.min.js" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="site-logo">
        <% if get_setting('SiteLogoPath') %>
          <a href="/"><img src="<%= get_setting('SiteLogoPath') %>" /></a>
        <% else %>
          <a href="/"><%= get_setting('SiteName') %></a>
        <% end %>
      </div>
      <div class="toplevel-links">
        <a href="/questions">Questions</a>
      </div>
    </div>
    <span class="clearfix"></span>
  </div>
  <div class="container">
    <div class="content">
      <div class="content-bar">
        <%= yield %>
      </div>
      <div class="sidebar">

      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">

    </div>
  </div>
</body>
</html>
