<h1 class="has-color-red">Delete my account</h1>
<p>
  If you no longer want to use our network of communities, you can delete your account. This will delete your profiles
  across every community in the network. Your posts will remain under the licenses you set for them, but you will be
  anonymised from them.
</p>

<% if @user.errors.any? %>
  <div class="notice is-danger has-color-red-900">
    <p>Couldn't delete your account:</p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag do_delete_account_path, method: :post do %>
  <p class="has-color-red">
    <strong>This cannot be undone.</strong> If you're sure, type your username
    (<strong><%= current_user.username %></strong>) below to confirm.
  </p>

  <%= label_tag :username, 'Type your username', class: 'form-element' %>
  <%= text_field_tag :username, params[:username], class: 'form-element' %>

  <%= submit_tag 'Delete my account', class: 'button is-danger is-filled' %>
<% end %>
